 
@import helper._

<div class="width-full">


	<div class="width-full project-grid" style="background-color:#fff">
	
	<div class="left row-div" style="background-color:#fff">
	<div style="float:left;width:510px;margin-bottom: 20px;margin-top: 10px;min-height: 300px;   color: #315662;">
	
	 <img width="700" height="550" src="/assets/frontend/images/msg.png" alt="">
	
	  <!--  <div class="dash_detail_1_left1">
        <h3><span style="float:left;width:20px;"><img width="16" height="16" src="/assets/frontend/images/watch_icon.png" alt=""></span>Inbox </h3>
        <div class="dash_left_detail_1_main">
          <div class="dash_left_detail_1_data21">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> Lead Designer has applied for leave<br>
			        </span>
		        </a>
          </div>
          <div class="dash_left_detail_1_data1">
           <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value="">Lead Designer has applied for leave<br>
			        </span>
		        </a>
          </div>
         
          <div class="dash_left_detail_1_data21">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> New Program Manager joined the OZM Product Team<br>
			        </span>
	        </a>
          </div>
          
          <div class="dash_left_detail_1_data1">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> SlinkySoft enters beta<br>
			        </span>
	        </a>
          </div>
         
          <div class="dash_left_detail_1_data21">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value="">  Launch of OSM at Munich<br>
			        </span>
		        </a>
          </div>
         
          <div class="dash_left_detail_1_data1">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value="">  Marketing results for Q4 delivered<br>
			        </span>
	        </a>
          </div>
          
          <div class="dash_left_detail_1_data21">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> Press junket for OPM at Barcelona<br>
			        </span>
	        </a>
          </div>
          
          <div class="dash_left_detail_1_data1">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> Lead Designer has applied for leave<br>
			        </span>
	        </a>
          </div>
         
          <div class="dash_left_detail_1_data21">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value="">  Designer has applied for leave<br>
			        </span>
	        </a>
          </div>
          
          <div class="dash_left_detail_1_data1">
            <a herf="#" target="_blank" class="p_details_list">
			       	<span style="float:left;width: 550px; ">
			        <input type="checkbox" class="chk-select"  name=" " value=""> Leave granted for Developer on OZM<br>
			        </span>
	        </a>
          </div>
        </div>
          
          
          </div>-->
 
    </div> 
   
   
    </div>
	      
	</div>
	 <span class="close-icon"></span>  
	
</div>