@(projectType:Option[ProjectType],tasks:List[GenericTasks], project_mode : String)(implicit session: play.api.mvc.Session,lang:Lang, req : play.api.mvc.RequestHeader)
@frontend.layout()
@import services._
@import java.text.SimpleDateFormat
<link rel="stylesheet" href="@routes.Assets.at("frontend/stylesheets/jquery-ui.css")">
</head>
<body>
@frontend.topLayout()
<div class="main" >
	@frontend.header()
	<section class="slider" id="project_type">
	<div class="width_full" >
	<input type="hidden" value="@project_mode" name="project_mode" id="project_mode" />
	<h3 id="productNm" class="parent-new-h3">
	    	<span class="parent-icon padding-0px"> &#60; </span>
		  	<a href="@controllers.Frontend.routes.Generics.overview()" style="font-weight: bold">
		  		<span class="left  padding-0px">@Messages("maintenance.overview")</span>
	  	  	</a>
	  	  	    
	  	  	
			
	   </h3>
	 </div>
	 <p class="greay-title">
	 		@if(!projectType.isEmpty && !GenericProjectTypeService.findGenericProjectTypeById(projectType.get.project_type.toString).isEmpty){
		 		 	@GenericProjectTypeService.findGenericProjectTypeById(projectType.get.project_type.toString).get.generic_project_type
 			}
	 		@Messages("maintenance.projecttypedetails")
	 </p>
	
	
	<div class="width_full product_detail_1">
			
			<div class="width_full">
				@if(!projectType.isEmpty){
			 		<ul id="p-type-detail">
			 			<li>
				 			<span class="header">  @Messages("maintenance.description")</span>
				 			<span class="program-data">@projectType.get.description </span>
			 			</li>
			 			<li>
				 			<span class="header"> @Messages("maintenance.creationdate")</span>
				 			<span class="program-data">@projectType.get.creation_date.get.format("dd-MM-yyyy") </span>
			 			</li>
			 			<li>
				 			<span class="header"> @Messages("maintenance.responsible")</span>
				 			<span class="program-data" style="color: #6c96a3;"><a  style="color: #6c96a3;" href="/employee/@UserService.findUserDetails(projectType.get.responsible).get.uid.get">@UserService.findUserDetails(projectType.get.responsible).get.first_name @UserService.findUserDetails(projectType.get.responsible).get.last_name
				 			</a> </span>
			 			</li>
			 		</ul>		 
		 			
		 		
		 		
		 		}
			</div>
			<p class="greay-title">
	 		 		@if(!projectType.isEmpty && !GenericProjectTypeService.findGenericProjectTypeById(projectType.get.project_type.toString).isEmpty){
			 			 	@GenericProjectTypeService.findGenericProjectTypeById(projectType.get.project_type.toString).get.generic_project_type
		 			 }
			   		@Messages("maintenance.generictasks")
		   </p>
			
		  
		  	<div class="program-div" id="new-document">
		  	<a href="@controllers.Frontend.routes.Generics.addGenericTask(project_mode)" name="add-predefined-task" id="add-predefined-task2" ><span> @Messages("maintenance.addtask")</span></a>
    			@*<a href="@controllers.Frontend.routes.Generics.newGenericTask(projectType.get.id.get.toString)"><span>Add Task </span></a>*@
			</div>
			
			</div>
			
			<div id="generic_task_list" class="width_full">

			    <ul class="width_full" id="t_data_list">
			    	<li class="header_task">
			    		<div class="task_title">@Messages("maintenance.task")</div>
			    		<div class="task_discipline">@Messages("maintenance.discipline")</div>
			    		<div class="task_user_role">@Messages("maintenance.userrole")</div>
			    		<div class="task_staus">@Messages("maintenance.deliverable")</div>
						<div class="right_task_plan_time">@Messages("maintenance.plan_time")</div>
			    		<div class="task_plan_time">Dependencias</div>
			    		<div class="task_action">@Messages("maintenance.action")</div>
			    	</li>
    			    @if(tasks.size>0){
				    	@for( (m , index)<- tasks.zipWithIndex){
				    	<li class='width_full task_data @{if((index+1)%2==0){"task_odd_row"}else{"task_even_row"}}'>
				    	 		<div class="main_task_data">
					    		<div class="task_title">
				    				<span class="left status_@m.task_status"></span>
					    			<span class="left width88per">@if(m.task_title.length>30){@m.task_title.substring(0,30)...}else{ @m.task_title }</span> 
				    			</div>
					    		<div class="task_discipline"  style="">
					    			@if(!m.task_discipline.isEmpty && !TaskDesciplineService.findTaskDesciplineById(m.task_discipline.get.toString).isEmpty){
					    				@TaskDesciplineService.findTaskDesciplineById(m.task_discipline.get.toString).get.task_discipline
					    			} 
					    		</div>
					    		<div class="task_user_role" style="">
					    			@if(!m.user_role.isEmpty && ! UserRoleService.findUserRoleById(m.user_role .get.toString).isEmpty){
					    				@UserRoleService.findUserRoleById(m.user_role .get.toString).get.role
					    			}
					    		 </div>
					    		
					    		<div class="task_staus">
			    					@if(!DeliverableService.findDeliverableById(m.deliverable.toString).isEmpty){
			    						@DeliverableService.findDeliverableById(m.deliverable.toString).get.deliverable.toString()
			    					}
					    		</div>
								<div class="right_task_plan_time" >
									@m.plan_time
								</div>

					    		<div class="task_plan_time" style="">
			    				@if(!m.task_depend.isEmpty){
			    					@for( s <- m.task_depend.get.split(",")){
			    						<span class="width_full">@if(!GenericService.findGenericTasksDetails(s).isEmpty){
			    							@if(GenericService.findGenericTasksDetails(s).get.task_title.length()>15){
			    								@GenericService.findGenericTasksDetails(s).get.task_title.substring(0,15)...
			    							}else{
			    								@GenericService.findGenericTasksDetails(s).get.task_title
			    							}
			    						} 
			    						</span>
			    					}
			    				}
					    		</div>

					    		<div  class="task_action">

				    				<span class="show_tasks_details delete-icon delete-generic-task"  id="st_@m.tId">
				    					<input type="hidden" value="@GenericService.validateGenericProjectTypeTasksDependency(m.task_mode.toString(), m.tId.get.toString())">
				    				</span>
				    				@if(tasks.size>1){
				    						<span id="st_@m.tId" style="margin:5px 0 0 13px;" class="edit-icon edit-dependency" ></span>		
				    				}
					    		</div>
				    	</li>		
				    	}
			    	}else{
			    		<div class="width_full no-task"> @Messages("maintenance.notaskavailable") </div>
		    		}
			    	
			    </ul>
		   		
	   	
		    
		    </div>
		  <div class="width_full">
		  <ul id="task_items"></ul>
		  </div>

	<div id="dialog-confirm"></div>
		
	@frontend.footer()
	</section>

	<div id="pop-box" class="display-none"> 
		
	</div>	 
	<div id="pop-box-over" class="display-none"></div>
	<div id="dialog-box" class="product-detail-dialog" style="width:190px;">
		<span class="dialog-close"></span>
		<div class="dialog-content"></div>
	</div>
	 
	<div class="tooltip"></div>	
</div>
@frontend.headerScripts()	
<script type="text/javascript" src="@routes.Assets.at("frontend/js/main.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("frontend/js/generics.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("frontend/stylesheets/generics.css")">

</body>	
</html>