@(searchForm : Form[ProjectTypeSearch], userMap: java.util.HashMap[String,String])(implicit session: play.api.mvc.Session,lang: Lang)
@import play.api.i18n._
@import play.api._
@import services._
@import helper._
<div class="focus_on width_full" style="padding:10px 0px; margin:20px 0px;" id = "search_program_id">
    <div class="focus_on_title"><img width="94" height="13" alt="" src="@routes.Assets.at("frontend/images/modify_search.png")"></div>
    <div class="search-form-wrapper" style="padding: 10px 40px;">
        @form(action = controllers.Frontend.routes.Generics.searchProjectResult, 'id->"search-program-form") {
        <input type="hidden" value="1" name="page"/>
        <input type="hidden" value="10" name="record"/>
        <div class="left width_full">
            <div class="left width-pr50 padding-top-3px">
                @select(
                searchForm("responsible_id"),
                options(userMap),
                'class -> "input-xlarge ",
                '_label -> Messages("Responsable"),
                '_default -> Messages("Escoja un responsable")
                )
            </div>

            <div class="right width-pr50 padding-top-3px" >
                @inputText(
                searchForm("description"),
                'class -> "span4",
                '_label -> Messages("Tipo Proyecto"),
                'placeholder -> Messages("Ingrese el tipo de proyecto")
                )
            </div>

        </div>

        <div class="" style="margin: 10px auto;text-align: center;width: 300px;">
            <span class="left" style="margin-top: 15px;"><input class="btn form-button" id="program-search-form" value='@Messages("button.search")' type="submit"/></span>
            <span class="left" style="margin-left: 29px; margin-top: 15px;"> <input id="cancel-program-search-report" class="btn form-button" value='@Messages("button.cancel")' type="button"/></span>
        </div>
        }
    </div>
</div>
<script>

</script>
