.cajaFormulario {
	padding-top: 7px;
	padding-bottom: 7px;
	/* border: 1px solid #D4D5D7; */
	margin-left: 5px;
	margin-right: 15px;
    position: relative;
}
.form-row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #036;
	line-height: 48px;
	height: 48px;
	padding-left: 5px;
}
.form-row #cui {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #ffffff;
	margin-left: 10px;
}
.form-row .titForm {
	width: 50px;
	float: left;
}

.form-row #proveedor {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;;
	background-color: #ffffff;
	margin-left: 10px;
}
.formFactura {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #036;
	line-height: 42px;
	height: 42px;
	padding-left: 15px;
}
.formFactura #factura {
	margin-left: 20px;
	border: 1px solid #D4D5D7;
	color: #036;
	width: 139px;
	height: 27px;
	line-height: 24px;
	padding-left: 5px;
}
.form-control
{
	margin-left: 25px;
	margin-right: 5px;
}
.custom-select
{
	margin-left: 25px;
	transform: translateY(60%);
}

.titCajaPeriodo {
	margin-left: 25px;
	/* padding: 0px; */
	margin-right:8px;
	transform: translateY(15%);
}
.formFactura #fechaini {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
	transform: translateY(20%);
}
.formFactura #fechafin {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
	transform: translateY(20%);
}
.form-row #nombreini {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
	transform: translateY(20%);
}
.form-row #numart {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
	transform: translateY(20%);
}
.form-row #pmo {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #f8fbfc;
	margin-left: 10px;
	transform: translateY(20%);
}.form-row #estado {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #f8fbfc;
	margin-left: 10px;
	transform: translateY(20%);
}
.formFactura #buscar {
	background-color: #069;
	height: 28px;
	width: 100px;
	color: #FFF;
	border-top-style: none;
	border-right-style: 10px;
	border-bottom-style: none;
	border-left-style: none;
	margin-left:10px;
	float: right;
    margin-right:10px;
    padding-right: 20px;    
}
#buscar {
	background: #2261adc5;
	background-image: -webkit-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -moz-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -ms-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -o-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: linear-gradient(to bottom, #2261adc5, #2261adc5);
	/* -webkit-border-radius: 5; */
	/* -moz-border-radius: 5; */
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	/* padding-top: 4px; */
	/* padding-right: 20px; */
	/* padding-bottom: 4px; */
	padding-left: 20px;
	float: right;
	position: relative;
	margin-right:20px;
	margin-left:25px;
	margin-bottom: 13px;
	transform: translateY(61%);
}

#buscar:hover {
	background-color: #036;
	background-image: -webkit-linear-gradient(top, #036, #036);
	background-image: -moz-linear-gradient(top, #036, #036);
	background-image: -ms-linear-gradient(top, #036, #036);
	background-image: -o-linear-gradient(top, #036, #036);
	background-image: linear-gradient(to bottom, #036, #036);
	text-decoration: none;
	cursor: default;
}
