.gitignore
*.log
BDC/.idea
BDC/.classpath
BDC/.sbtserver
BDC/.idea
BDC/project
BDC/target
BDC/test
BDC/test-2.10
BDC/bin
BDC/logs
BDC/*.xlsx
BDC/conf/application.conf
bicevida/
clustered-chat-master/*
sip/node_modules
sip/log
sip/logs
sip/temp
sip/data
sip/*.log
sip/docs
sip/public/docs
sip/.vscode
sip/lic.njsproj
sip/lic.sln
sip/config