.gitignore
BDC/.classpath
BDC/.sbtserver/*
BDC/project/*
BDC/target/*
BDC/test/*
BDC/test-2.10/*
BDC/bin/*
BDC/logs/*
BDC/*.xlsx
bicevida/*
clustered-chat-master/*
sip/node_modules/*
sip/log/*
sip/logs/*
sip/temp/*
sip/data/*
sip/*.log
sip/npm-debug.log
sip/docs/*
sip/public/docs/*
sip/.vscode/*
sip/.vscode/settings.json
