 <div class="dash_detail_1" id="latest_update">
      <div class="dash_detail_1_left">
        <h3><span style="float:left; margin: 2px 0 0 0;"><img width="16" height="16" alt="" src="@routes.Assets.at("frontend/images/watch_icon.png")"></span> Latest Updates</h3>
        <div class="dash_left_detail_1_main">
          <div class="dash_left_detail_1_data2">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-01" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-01" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Task Completed: UAT for OPM</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-1">SIT</div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-02" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-02" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Lead Designer has applied for leave</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-icon"><a href="#"><img width="10" height="10" alt="" src="@routes.Assets.at("frontend/images/red_icon.png")"></a></div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data2">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-03" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-03" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">New Program Manager joined the OZM Product Team</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-icon"><a href="#"><img width="10" height="10" alt="" src="@routes.Assets.at("frontend/images/green_icon.png")"></a></div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-04" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-04" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">SlinkySoft enters beta</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-green">GL</div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data2">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-05" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-05" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px" >Launch of OSM at Munich</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-red">DC</div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-06" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-06" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Marketing results for Q4 delivered</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-1">SIT</div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data2">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-07" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-07" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Press junket for OPM at Barcelona</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-gray">UAT</div>
             @* <div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-08" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-08" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">OZM v1.2 released</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-yellow">CIT</div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data2">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-09" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-09" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Designer has applied for leave</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-icon"><img width="10" height="10" alt="" src="@routes.Assets.at("frontend/images/yellow_icon.png")"></div>
              @*<div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
          <div class="dash_left_detail_1_data">
            <div class="dash_left_detail_1_data-1">
              @*<label for="radio-010" class="label_radio r_on">
                <input type="radio" checked="checked" value="1" id="radio-010" name="sample-radio">
              </label>*@
            </div>
            <div class="dash_left_detail_1_data-2 width500px">Leave granted for Developer on OZM</div>
            <div class="dash_left_detail_1_data-3 push-right10px ">
              <div class="dash_left_detail_1_data-3-icon"><img width="10" height="10" alt="" src="@routes.Assets.at("frontend/images/green_icon.png")"></div>
             @* <div class="dash_left_detail_1_data-3-2"><a href="#"><img width="14" height="14" alt="" src="@routes.Assets.at("frontend/images/i_icon.png")"></a></div>*@
            </div>
          </div>
        </div>
      </div>
      <div class="dash_detail_1_right" style=" border: medium none;">
      <img width="275" height="472" alt="" src="@routes.Assets.at("frontend/images/chart_calculation.png")">
        @*<h3>Products<span><img width="9" height="12" alt="" src="@routes.Assets.at("frontend/images/arrow-2.png")"></span></h3>
        <div class="dash_right_data_main">
          <div class="dash_right_data_2">
            <div class="dash_right_data_left">OPM v3.2</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-1">SIT</div>
            </div>
          </div>
          <div class="dash_right_data_1">
            <div class="dash_right_data_left">Embellix Personal v1.0</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-gray">UAT</div>
            </div>
          </div>
          <div class="dash_right_data_2">
            <div class="dash_right_data_left">CortaPorta v2.1</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-yellow">CIT</div>
            </div>
          </div>
          <div class="dash_right_data_1">
            <div class="dash_right_data_left">OZM v1.2</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-green">GL</div>
            </div>
          </div>
          <div class="dash_right_data_2">
            <div class="dash_right_data_left">OSM v1.2</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-red">DC</div>
            </div>
          </div>
          <div class="dash_right_data_1">
            <div class="dash_right_data_left">SlinkySoft v1.0</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-1">SIT</div>
            </div>
          </div>
          <div class="dash_right_data_2">
            <div class="dash_right_data_left">KillerApp v5.0</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-gray">UAT</div>
            </div>
          </div>
          <div class="dash_right_data_1">
            <div class="dash_right_data_left">PhotoMatic (iOS) v1.3</div>
            <div class="dash_right_data_right">
              <div class="dash_right_data_right">
                <div class="dash_left_detail_1_data-3-yellow">CIT</div>
              </div>
            </div>
          </div>
          <div class="dash_right_data_2">
            <div class="dash_right_data_left">PhotoMatic (Android) v1.3</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-green">GL</div>
            </div>
          </div>
          <div class="dash_right_data_1">
            <div class="dash_right_data_left">Accelerator 2012</div>
            <div class="dash_right_data_right">
              <div class="dash_left_detail_1_data-3-red">DC</div>
            </div>
          </div>*@
        </div>
 	</div>