USE [presupuesto]
GO
/****** Object:  Table [dbo].[CONTRATO]    Script Date: 27-04-2016 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTRATO](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[idproveedor] [int] NULL,
	[contrato] [int] NULL,
	[anexo] [varchar](30) NULL,
	[solicitudcontrato] [varchar](60) NULL,
	[solicitudcontratoes] [varchar](60) NULL,
	[nombrecontrato] [varchar](255) NULL,
	[idsap] [int] NULL,
	[idpmo] [int] NULL,
	[codigoart] [int] NULL,
	[fechainicontrato] [datetime] NULL,
	[fechatercontrato] [datetime] NULL,
	[fechacontrol] [datetime] NULL,
	[meses] [int] NULL,
	[estado] [varchar](60) NULL,
	[plazocontrato] [varchar](20) NULL,
	[criticidad] [varchar](20) NULL,
	[montototal] [float] NULL,
	[condicionnegociacion] [varchar](60) NULL,
	[frecuenciafacturacion] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALLECOMPROMISO]    Script Date: 27-04-2016 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLECOMPROMISO](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[iddetalleserviciocto] [int] NULL,
	[idperiodo] [int] NULL,
	[idmoneda] [int] NULL,
	[montoorigen] [int] NULL,
	[montopesos] [int] NULL,
 CONSTRAINT [PK_DETALLECOMPROMISO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLESERVICIOCTO]    Script Date: 27-04-2016 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLESERVICIOCTO](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[iddetallecto] [int] NULL,
	[idcui] [int] NULL,
	[partida] [int] NULL,
	[idservicio] [int] NULL,
	[servicio] [varchar](255) NULL,
	[idcuenta] [int] NULL,
	[cuentacontable] [varchar](20) NULL,
	[idmoneda] [int] NULL,
	[valorcuota] [float] NULL,
	[impuesto] [varchar](10) NULL,
	[iva] [varchar](15) NULL,
	[factoriva] [float] NULL,
	[montototal] [float] NULL,
 CONSTRAINT [PK_DETALLESERVICIOCTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EROGACIONES]    Script Date: 27-04-2016 18:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EROGACIONES](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[sap] [int] NULL,
	[idproveedor] [int] NULL,
	[rutproveedor] [varchar](10) NULL,
	[razonsocial] [varchar](255) NULL,
	[factura] [varchar](20) NULL,
	[fechafactura] [datetime] NULL,
	[fechacontabilizacion] [datetime] NULL,
	[contrato] [int] NULL,
	[anexo] [int] NULL,
	[codigoart] [int] NULL,
	[partida] [int] NULL,
	[cuentacontable] [int] NULL,
	[cui] [int] NULL,
	[idservicio] [int] NULL,
	[codigotarea] [varchar](20) NULL,
	[moneda] [varchar](10) NULL,
	[periodo] [int] NULL,
	[montoporperiodo] [float] NULL,
	[montopesos] [float] NULL,
 CONSTRAINT [PK_EROGACIONES] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CONTRATO] ON 

SET IDENTITY_INSERT [dbo].[CONTRATO] OFF
SET IDENTITY_INSERT [dbo].[DETALLECOMPROMISO] ON 

INSERT [dbo].[DETALLECOMPROMISO] ([id], [iddetalleserviciocto], [idperiodo], [idmoneda], [montoorigen], [montopesos]) VALUES (1609, 135, 1, 11, 419274, 0)
INSERT [dbo].[DETALLECOMPROMISO] ([id], [iddetalleserviciocto], [idperiodo], [idmoneda], [montoorigen], [montopesos]) VALUES (1610, 135, 2, 11, 0, 0)
INSERT [dbo].[DETALLECOMPROMISO] ([id], [iddetalleserviciocto], [idperiodo], [idmoneda], [montoorigen], [montopesos]) VALUES (1611, 135, 3, 11, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[DETALLECOMPROMISO] OFF
SET IDENTITY_INSERT [dbo].[DETALLESERVICIOCTO] ON 

INSERT [dbo].[DETALLESERVICIOCTO] ([id], [iddetallecto], [idcui], [partida], [idservicio], [servicio], [idcuenta], [cuentacontable], [idmoneda], [valorcuota], [impuesto], [iva], [factoriva], [montototal]) VALUES (135, 135, 9, NULL, 604, N'Licencias Syncsort', 32, N'625506973', 11, 419274, N'Si', NULL, NULL, 419274)
INSERT [dbo].[DETALLESERVICIOCTO] ([id], [iddetallecto], [idcui], [partida], [idservicio], [servicio], [idcuenta], [cuentacontable], [idmoneda], [valorcuota], [impuesto], [iva], [factoriva], [montototal]) VALUES (136, 136, 13, NULL, 605, N'Servicio Mantención Suite Axway Synchrony (H2H Portal de Proveedores)', 38, N'622006778', 12, 38, N'No', NULL, NULL, 456)
INSERT [dbo].[DETALLESERVICIOCTO] ([id], [iddetallecto], [idcui], [partida], [idservicio], [servicio], [idcuenta], [cuentacontable], [idmoneda], [valorcuota], [impuesto], [iva], [factoriva], [montototal]) VALUES (137, 137, 4, NULL, 606, N'Soporte licencias proyecto host to host para Banconexión- Synchrony', 32, N'625506973', 11, 63004, N'Si', NULL, NULL, 63004)
SET IDENTITY_INSERT [dbo].[DETALLESERVICIOCTO] OFF
SET IDENTITY_INSERT [dbo].[EROGACIONES] ON 

INSERT [dbo].[EROGACIONES] ([id], [sap], [idproveedor], [rutproveedor], [razonsocial], [factura], [fechafactura], [fechacontabilizacion], [contrato], [anexo], [codigoart], [partida], [cuentacontable], [cui], [idservicio], [codigotarea], [moneda], [periodo], [montoporperiodo], [montopesos]) VALUES (11, 4105, NULL, NULL, N'AKZIO CONSULTORES LTDA.', N'2415', CAST(N'2012-01-06 00:00:00.000' AS DateTime), CAST(N'2012-08-06 00:00:00.000' AS DateTime), 0, 0, 0, 0, 230503226, 0, NULL, N'1.9.1', N'pesos', 0, 1459089, 1459089)
INSERT [dbo].[EROGACIONES] ([id], [sap], [idproveedor], [rutproveedor], [razonsocial], [factura], [fechafactura], [fechacontabilizacion], [contrato], [anexo], [codigoart], [partida], [cuentacontable], [cui], [idservicio], [codigotarea], [moneda], [periodo], [montoporperiodo], [montopesos]) VALUES (27, 4105, NULL, NULL, N'EFT SERVICIOS PROFESIONALES S.A.', N'2647', CAST(N'2011-01-06 00:00:00.000' AS DateTime), CAST(N'2011-10-06 00:00:00.000' AS DateTime), 0, 0, 0, 0, 230503226, 0, NULL, N'1.9', N'pesos', 0, 3271791, 3271791)
INSERT [dbo].[EROGACIONES] ([id], [sap], [idproveedor], [rutproveedor], [razonsocial], [factura], [fechafactura], [fechacontabilizacion], [contrato], [anexo], [codigoart], [partida], [cuentacontable], [cui], [idservicio], [codigotarea], [moneda], [periodo], [montoporperiodo], [montopesos]) VALUES (28, 4105, NULL, NULL, N'EFT SERVICIOS PROFESIONALES S.A.', N'2653', CAST(N'2011-01-07 00:00:00.000' AS DateTime), CAST(N'2011-07-07 00:00:00.000' AS DateTime), 0, 0, 0, 0, 230503226, 0, NULL, N'1.9', N'pesos', 0, 3283922, 3283922)
GO
SET IDENTITY_INSERT [dbo].[EROGACIONES] OFF
/****** Object:  Index [PK_CONTRATO]    Script Date: 27-04-2016 18:23:08 ******/
ALTER TABLE [dbo].[CONTRATO] ADD  CONSTRAINT [PK_CONTRATO] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLECOMPROMISO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEC_REFERENCE_DETALLES] FOREIGN KEY([iddetalleserviciocto])
REFERENCES [dbo].[DETALLESERVICIOCTO] ([id])
GO
ALTER TABLE [dbo].[DETALLECOMPROMISO] CHECK CONSTRAINT [FK_DETALLEC_REFERENCE_DETALLES]
GO
ALTER TABLE [dbo].[DETALLESERVICIOCTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLES_REFERENCE_CONTRATO] FOREIGN KEY([iddetallecto])
REFERENCES [dbo].[CONTRATO] ([id])
GO
ALTER TABLE [dbo].[DETALLESERVICIOCTO] CHECK CONSTRAINT [FK_DETALLES_REFERENCE_CONTRATO]
GO
