USE [presupuesto]
GO
/****** Object:  Table [dbo].[INICIATIVAS]    Script Date: 21-04-2016 18:37:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INICIATIVAS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoart] [int] NULL,
	[nombreproyecto] [varchar](255) NULL,
	[divisionsponsor] [varchar](255) NULL,
	[sponsor1] [varchar](255) NULL,
	[sponsor2] [varchar](255) NULL,
	[gerenteresponsable] [varchar](255) NULL,
	[pmoresponsable] [varchar](255) NULL,
	[tipo] [varchar](10) NULL,
	[categoria] [varchar](60) NULL,
	[ano] [int] NULL,
	[q1] [varchar](30) NULL,
	[q2] [varchar](30) NULL,
	[q3] [varchar](30) NULL,
	[q4] [varchar](30) NULL,
	[fechacomite] [datetime] NULL,
	[pptoestimadousd] [float] NULL,
 CONSTRAINT [PK_INICIATIVAS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[INICIATIVAS] ON 

INSERT [dbo].[INICIATIVAS] ([id], [codigoart], [nombreproyecto], [divisionsponsor], [sponsor1], [sponsor2], [gerenteresponsable], [pmoresponsable], [tipo], [categoria], [ano], [q1], [q2], [q3], [q4], [fechacomite], [pptoestimadousd]) VALUES (1, NULL, N'Vulnerabilidad Internet', N'RIESGO CORPORATIVO', N'Hugo Baranda', NULL, N'Manuel Díaz', N'Jorge Galvez', N'Unica', N'Continuidad Operacional', 2016, N'Q1', N'', N'', N'', NULL, 200000)
INSERT [dbo].[INICIATIVAS] ([id], [codigoart], [nombreproyecto], [divisionsponsor], [sponsor1], [sponsor2], [gerenteresponsable], [pmoresponsable], [tipo], [categoria], [ano], [q1], [q2], [q3], [q4], [fechacomite], [pptoestimadousd]) VALUES (2, NULL, N'CrediChile: Gestor de Campañas y Plataforma Comercial', N'CONSUMO', N'Juan Cooper', NULL, N'Manuel Díaz', N'Cristian Cabrera', N'Unica', N'Continuidad Operacional', 2016, N'Q1', N'', N'', N'', NULL, 546428.57142857148)
INSERT [dbo].[INICIATIVAS] ([id], [codigoart], [nombreproyecto], [divisionsponsor], [sponsor1], [sponsor2], [gerenteresponsable], [pmoresponsable], [tipo], [categoria], [ano], [q1], [q2], [q3], [q4], [fechacomite], [pptoestimadousd]) VALUES (3, NULL, N'Migración versión portal', N'OPERACIONES Y TECNOLOGÍA', N'Rubén Romero', NULL, N'Rubén Romero', N'Giovana Fuentes', N'Unica', N'Continuidad Operacional', 2016, N'Q1', N'', N'', N'', NULL, 742253.99999999988)
SET IDENTITY_INSERT [dbo].[INICIATIVAS] OFF
