USE [presupuesto]
GO
/****** Object:  Table [dbo].[DETALLEPLANPROYECTO]    Script Date: 29-04-2016 18:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEPLANPROYECTO](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[iddetalleproyecto] [int] NULL,
	[idperiodo] [int] NULL,
	[idmoneda] [int] NULL,
	[presupuesto] [int] NULL,
	[presupuestopesos] [int] NULL,
	[realacumulado] [float] NULL,
	[realacumuladopesos] [float] NULL,
	[compromiso] [float] NULL,
	[compromisopesos] [float] NULL,
 CONSTRAINT [PK_DETALLEPLANPROYECTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLEPROYECTO]    Script Date: 29-04-2016 18:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETALLEPROYECTO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idproyecto] [int] NULL,
	[numerotarea] [varchar](60) NULL,
	[nombretarea] [varchar](255) NULL,
	[fechacreacion] [datetime] NULL,
	[fechainicio] [datetime] NULL,
	[fechacierre] [datetime] NULL,
	[idcui] [int] NULL,
	[cui] [varchar](10) NULL,
	[idproveedor] [int] NULL,
	[idcuentacontable] [int] NULL,
 CONSTRAINT [PK_DETALLEPROYECTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 29-04-2016 18:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[sap] [int] NULL,
	[codigoart] [int] NULL,
	[nombreproyecto] [varchar](255) NULL,
	[idpmo] [int] NULL,
	[pmo] [varchar](255) NULL,
	[fechacreacion] [datetime] NULL,
	[estado] [varchar](30) NULL,
	[fechavigencia] [datetime] NULL,
	[avance] [float] NULL,
	[fechaultpago] [datetime] NULL,
	[fechapap] [datetime] NULL,
	[pregasto] [float] NULL,
	[preinversion] [float] NULL,
	[realgasto] [float] NULL,
	[realinversion] [float] NULL,
	[compgasto] [float] NULL,
	[compinversion] [float] NULL,
	[observacion] [varchar](255) NULL,
 CONSTRAINT [PK_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLEPLANPROYECTO] ON 

INSERT [dbo].[DETALLEPLANPROYECTO] ([id], [iddetalleproyecto], [idperiodo], [idmoneda], [presupuesto], [presupuestopesos], [realacumulado], [realacumuladopesos], [compromiso], [compromisopesos]) VALUES (588, 588, 1, 1, 141916410, 141916410, 100347820, 100347820, 0, 0)
INSERT [dbo].[DETALLEPLANPROYECTO] ([id], [iddetalleproyecto], [idperiodo], [idmoneda], [presupuesto], [presupuestopesos], [realacumulado], [realacumuladopesos], [compromiso], [compromisopesos]) VALUES (589, 589, 1, 1, 12370050, 12370050, 2672368, 2672368, 0, 0)
INSERT [dbo].[DETALLEPLANPROYECTO] ([id], [iddetalleproyecto], [idperiodo], [idmoneda], [presupuesto], [presupuestopesos], [realacumulado], [realacumuladopesos], [compromiso], [compromisopesos]) VALUES (590, 590, 1, 1, 587577375, 587577375, 537341761, 537341761, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[DETALLEPLANPROYECTO] OFF
SET IDENTITY_INSERT [dbo].[DETALLEPROYECTO] ON 

INSERT [dbo].[DETALLEPROYECTO] ([id], [idproyecto], [numerotarea], [nombretarea], [fechacreacion], [fechainicio], [fechacierre], [idcui], [cui], [idproveedor], [idcuentacontable]) VALUES (588, 1, N'1.2', N'HARDWARE', NULL, NULL, NULL, NULL, N'1097', NULL, NULL)
INSERT [dbo].[DETALLEPROYECTO] ([id], [idproyecto], [numerotarea], [nombretarea], [fechacreacion], [fechainicio], [fechacierre], [idcui], [cui], [idproveedor], [idcuentacontable]) VALUES (589, 1, N'1.3', N'OTROS SERVICIOS', NULL, NULL, NULL, NULL, N'1097', NULL, NULL)
INSERT [dbo].[DETALLEPROYECTO] ([id], [idproyecto], [numerotarea], [nombretarea], [fechacreacion], [fechainicio], [fechacierre], [idcui], [cui], [idproveedor], [idcuentacontable]) VALUES (590, 1, N'1.8', N'SOFTWARE (clear2pay)', NULL, NULL, NULL, NULL, N'1097', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DETALLEPROYECTO] OFF
SET IDENTITY_INSERT [dbo].[PROYECTO] ON 

GO
SET IDENTITY_INSERT [dbo].[PROYECTO] OFF
ALTER TABLE [dbo].[DETALLEPLANPROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEP_DETALLEPL_DETALLEP] FOREIGN KEY([iddetalleproyecto])
REFERENCES [dbo].[DETALLEPROYECTO] ([id])
GO
ALTER TABLE [dbo].[DETALLEPLANPROYECTO] CHECK CONSTRAINT [FK_DETALLEP_DETALLEPL_DETALLEP]
GO
ALTER TABLE [dbo].[DETALLEPROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEP_DETALLEPR_PROYECTO] FOREIGN KEY([idproyecto])
REFERENCES [dbo].[PROYECTO] ([id])
GO
ALTER TABLE [dbo].[DETALLEPROYECTO] CHECK CONSTRAINT [FK_DETALLEP_DETALLEPR_PROYECTO]
GO
