USE [presupuesto]
GO
/****** Object:  Table [dbo].[CONTACTOPROVEEDOR]    Script Date: 19-04-2016 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTACTOPROVEEDOR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contactoproveedor] [varchar](255) NULL,
	[fonoproveedor] [varchar](20) NULL,
	[correoproveedor] [varchar](60) NULL,
	[idproveedor] [int] NULL,
 CONSTRAINT [PK_CONTACTOPROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 19-04-2016 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numrut] [int] NULL,
	[dvrut] [char](1) NULL,
	[razonsocial] [varchar](255) NULL,
	[negociadordivot] [varchar](60) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([id], [numrut], [dvrut], [razonsocial], [negociadordivot]) VALUES (1, 10008138, N'5', N'GABRIELA LEONOR DAETZ DIETZ', NULL)
INSERT [dbo].[PROVEEDOR] ([id], [numrut], [dvrut], [razonsocial], [negociadordivot]) VALUES (2, 10014443, N'3', N'ALEJANDRO VERDUGO OLIVA', NULL)
INSERT [dbo].[PROVEEDOR] ([id], [numrut], [dvrut], [razonsocial], [negociadordivot]) VALUES (3, 10014630, N'4', N'RAUL ALFREDO HERNANDEZ IBACACHE', NULL)
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
ALTER TABLE [dbo].[CONTACTOPROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTO_REFERENCE_PROVEEDO] FOREIGN KEY([idproveedor])
REFERENCES [dbo].[PROVEEDOR] ([id])
GO
ALTER TABLE [dbo].[CONTACTOPROVEEDOR] CHECK CONSTRAINT [FK_CONTACTO_REFERENCE_PROVEEDO]
GO
