extends base.pug
block titulo
  title SIC Banco de Chile - Sistema Integrado de Contratos - Catálogo de Cláusulas
block jsgrilla
  script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js')           
  script(type='text/javascript', src='/javascripts/views/sic/catalogoclausulas.js')
  script(type='text/javascript', src='/javascripts/views/sic/catalogoclausulas2.js')   
block titulogrilla
block grilla
 table#table_catclausulas
 #pager_catclausulas