extends base.pug
block titulo
  title SIC Banco de Chile - Sistema Integrado de Contratos - Clases de Evaluación Técnica
block jsgrilla
  script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
  script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js')           
  script(type='text/javascript', src='/javascripts/views/sic/claseevaluaciontecnica.js') 
  script(type='text/javascript', src='/javascripts/views/sic/criteriosevaluacion.js')  
  script(type='text/javascript', src='/javascripts/views/sic/criteriosevaluacion2.js') 
  script(type='text/javascript', src='/javascripts/views/sic/criteriosevaluacion3.js') 
block titulogrilla
block grilla
 table#table_claseevtecnica
 #pager_claseevtecnica