extends base.pug
block titulo
  title SIP Banco de Chile - Sistema Integrado de Contratos - Solicitud Cotización
block jsgrilla
  script(type='text/javascript', src='/javascripts/views/sic/solicitudcotizacion.js')
  script(type='text/javascript', src='/javascripts/views/sic/doc.js')  
  script(type='text/javascript', src='/javascripts/views/sic/serv.js')  
block titulogrilla
block grilla
 table#gridMaster
 #pagerMaster