extends base.pug
block titulo
  title SIC Banco de Chile - Sistema Integrado de Contratos - Solicitud Contrato
block jsgrilla
  style.
    .ui-th-column>div, .ui-jqgrid-btable .jqgrow>td {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    overflow: hidden;
    vertical-align: middle;
    }
    .ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:text-top;
    padding-top:2px;
    }   

  link(rel='stylesheet', href='/stylesheets/sic/datetimepicker.css', type='text/css', media='screen', charset='utf-8') 
  script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
  script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js') 
  script(type='text/javascript', src='/javascripts/views/sic/bootstrap.js')
  script(type='text/javascript', src='/javascripts/views/sic/bootstrap-datetimepicker.js')
  script(type="text/javascript", src="/javascripts/views/sic/solicitudcontrato.js")
  script(type="text/javascript", src="/javascripts/views/sic/estadosolicitud.js")  
  script(type="text/javascript", src="/javascripts/views/sic/preguntas.js")
  script(type="text/javascript", src="/javascripts/views/sic/asignar.js")
  script(type="text/javascript", src="/javascripts/views/sic/respuestas.js")
  script(type="text/javascript", src="/javascripts/views/sic/respuestasrfp.js") 
  script(type="text/javascript", src="/javascripts/views/sic/participantesproveedor.js")   
  script(type="text/javascript", src="/javascripts/views/sic/evaluacioneconomica.js")
  script(type="text/javascript", src="/javascripts/views/sic/flujocotizacion.js")  
  script(type="text/javascript", src="/javascripts/views/sic/cotizacionservicio.js") 
  script(type="text/javascript", src="/javascripts/views/sic/evaluaciontecnica.js") 
  script(type="text/javascript", src="/javascripts/views/sic/evaluaciontecnica2.js") 
  script(type="text/javascript", src="/javascripts/views/sic/evaluaciontecnica3.js")
  script(type="text/javascript", src="/javascripts/views/sic/evaluaciontecnica4.js")
  script(type="text/javascript", src="/javascripts/views/sic/matrizevaluacion.js")
  script(type="text/javascript", src="/javascripts/views/sic/matrizevaluacion2.js")
  script(type="text/javascript", src="/javascripts/views/sic/matrizevaluacion3.js")
  script(type="text/javascript", src="/javascripts/views/sic/matrizevaluacion2e.js")
  script(type="text/javascript", src="/javascripts/views/sic/matrizevaluaciontotal.js")
  script(type="text/javascript", src="/javascripts/views/sic/bitacora.js")

block titulogrilla
  //- .header(style='height:50px; background-image:url(../images/r2.png); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
      h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") ANÁLISIS DE PROPUESTAS
block grilla
 .gcontainer
 table#gridMaster
 #pagerMaster
 #docModal.modal.fade
  .modal-dialog
    .modal-content
      // Content will be loaded here from file
