extends base.pug
block titulo
  title SIC Banco de Chile - Sistema Integrado de Contratos - Tipos de Documentos
block jsgrilla
  script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
  script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js')           
  script(type='text/javascript', src='/javascripts/views/sic/tipodocumento.js') 
block titulogrilla
block grilla
 table#table_tipodocumento
 #pager_tipodocumento