extends base.pug
block titulo
  title SIC Banco de Chile - Sistema Integrado de Contratos - Table of Content
block jsgrilla
  script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
  script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js')           
  script(type='text/javascript', src='/javascripts/views/sic/toctipo.js')
  script(type='text/javascript', src='/javascripts/views/sic/tocclases.js')   
  script(type='text/javascript', src='/javascripts/views/sic/tocplantilla.js')   
block titulogrilla
block grilla
 table#grid
 #pager