.cajaFormulario {
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #D4D5D7;
	margin-left: 5px;
	margin-right: 15px;
    position: relative;
}
.form-row {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #036;
	line-height: 48px;
	height: 48px;
	padding-left: 5px;
}
.form-row #cui {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #ffffff;
	margin-left: 10px;
}
.form-row .titForm {
	width: 50px;
	float: left;
}

.form-row #proveedor {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #ffffff;
	margin-left: 10px;
}
.formFactura {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #036;
	line-height: 42px;
	height: 42px;
	padding-left: 15px;
}
.formFactura #factura {
	margin-left: 20px;
	border: 1px solid #D4D5D7;
	color: #036;
	width: 139px;
	height: 27px;
	line-height: 24px;
	padding-left: 5px;
}
.titCajaPeriodo {
	margin-left: 15px;
    padding: 5px;
}
.formFactura #fechaini {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
}
.formFactura #fechafin {
	border: 1px solid #D4D5D7;
	color: #036;
	width: 124px;
	height: 27px;
	line-height: 24px;
}
.formFactura #buscar {
	background-color: #069;
	height: 28px;
	width: 100px;
	color: #FFF;
	border-top-style: none;
	border-right-style: 10px;
	border-bottom-style: none;
	border-left-style: none;
	margin-left:10px;
    margin-right:10px;
    padding-right: 20px;    
}
#buscar {
	background: #047ac9;
	background-image: -webkit-linear-gradient(top, #047ac9, #024066);
	background-image: -moz-linear-gradient(top, #047ac9, #024066);
	background-image: -ms-linear-gradient(top, #047ac9, #024066);
	background-image: -o-linear-gradient(top, #047ac9, #024066);
	background-image: linear-gradient(to bottom, #047ac9, #024066);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-left: 20px;
	float: right;
	position: relative;
    margin-right:10px;
}

#buscar:hover {
	background-color: #036;
	background-image: -webkit-linear-gradient(top, #036, #036);
	background-image: -moz-linear-gradient(top, #036, #036);
	background-image: -ms-linear-gradient(top, #036, #036);
	background-image: -o-linear-gradient(top, #036, #036);
	background-image: linear-gradient(to bottom, #036, #036);
	text-decoration: none;
	cursor: default;
}
