@()(implicit session: play.api.mvc.Session,lang:Lang, req : play.api.mvc.RequestHeader) 
<header>
	<div class="logo_part_main">
		<div class="logo_new">
			@if(Integer.parseInt(session.get("utype").get) != 0){			
				<a href="/employee/@session.get("uId").get"><img src="@routes.Assets.at("frontend/images/new_logo.png")" alt=""></a>
			}else{
				<a href="javascript:void(0)"><img src="@routes.Assets.at("frontend/images/new_logo.png")" alt=""></a>
			}
		</div>
		<div class="header-right">		
	      
			<div class="navigate-menu">
				<ul>
					@if(utils.UserAccess.checkAccess(req,"tab_profile")){
						<li><a id="profile" href="/employee/@session.get("uId").get">@Messages("header.profile")</a></li>
					}
					@if(utils.UserAccess.checkAccess(req,"tab_dashboard")){				
						<li><a href="@controllers.Frontend.routes.Incident.home()" id="incident"> @Messages("header.incident")</a></li>
	       				<li><a href="@controllers.Frontend.routes.Dashboard.getPanel2()" id="reporte_id">@Messages("header.dashboard")</a></li>
					}
					@if(utils.UserAccess.isBoss(req)){
						<li><a id="personal" href="/personal" > @Messages("header.personal")</a></li>
					}
     				@*<li><a href="@controllers.Frontend.routes.ApplicationController.kanban" id="kanban_id">Kanban</a></li>*@
					@if(utils.UserAccess.checkAccess(req,"tab_program")){
						<li><a id="programs" href="/programs" > @Messages("header.programs")</a></li>
					}
					<input type="hidden" value="@utils.UserAccess.checkAccess(req,"tab_admin")" id="test-val">
					@if(utils.UserAccess.checkAccess(req,"tab_admin")){
					 	<li><a id="projects" href="/division-list">@Messages("header.admin")</a></li>
					 	<li><a id="log" href="/logs/1">Registro</a></li>
					 }
				
				</ul>
			</div>
			
		</div>
	</div>
</header>