        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/jquery.dd.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/custom.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/date.js")" type="text/javascript"></script>
       	<script src="@routes.Assets.at("frontend/js/project.js")" type="text/javascript"></script>	
        <script src="@routes.Assets.at("frontend/js/jquery.fn.gantt.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("frontend/js/jquery.barrating.js")" type="text/javascript"></script>

      	<script src="@routes.Assets.at("frontend/js/jquery.validate.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/jquery.confirm.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/imageCrop.js")" type="text/javascript"></script>
      	<script src="@routes.Assets.at("frontend/js/jquery.powertip.min.js")" type="text/javascript"></script>
      	<script type="text/javascript">
      	$(':input[type=number]').on('mousewheel', function(e){
      	    $(this).blur(); 
      	});
      	</script>
		
      	