@import org.json.JSONObject 
@(expected_completion_percentage_for_project :String,completion_percentage_forProject :String,project:Option[Project],tasks:Seq[Tasks], allocatedForTasks:JSONObject, countList:Seq[String], documents : Seq[DocumentMaster], changeSet : String)(implicit session: play.api.mvc.Session,lang:Lang, req : play.api.mvc.RequestHeader) 
@frontend.layout()
@import services._
@import play.api.i18n._
@import play.api._
@import java.math.BigInteger; var i=1;

<link rel="stylesheet" href="@routes.Assets.at("frontend/stylesheets/jquery-ui.css")">
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->

</head>
<body>
@frontend.topLayout()
<div class="main">

@frontend.header()
<section class="slider" id="pDetail_page">

		<input id="projectId" value="@project.get.pId" class="display-none"/>
		<input id="project_id" value="@project.get.pId" class="display-none"/>
		<input id="projectDetails" value="" class="display-none"/>
		<input id="project_changeset" name="project_changeset" value="@changeSet" type="hidden"/>
		
		<div class="product_main" style="   float: left; height: auto; overflow: hidden;">
		  <div class="product_detail_1">
		   <h3 id="productNm" class="parent-new-h3">
		   		<span class="parent-icon"> &#60; </span>
			    <a href="/program-details/@project.get.program"><span class="left width700px">@if(ProgramService.findProgramMasterDetailsById(project.get.program.toString()).get.program_name.length>120){@ProgramService.findProgramMasterDetailsById(project.get.program.toString()).get.program_name.substring(0, 120) ...}else{@ProgramService.findProgramMasterDetailsById(project.get.program.toString()).get.program_name}</span></a>
			    @if(ProjectService.permisosProyecto(project.get.pId.get.toString,session.get("uId").get)==1){
				   	<a href="/edit-project/@project.get.pId" style="float:right;margin-right:45px;"> 
				 		<span class="edit-project edit-icon edit-text" style="margin-right: -11px;">@Messages("programDetails.edit") </span>
				 	</a>
			 	}
		    </h3>
		    <h3 id="productNm">
			    <span class="left width650px" style="word-wrap: break-word;">@project.get.project_name</span>
			     <span  class="left project_manager_name">@Messages("newProjectDeatils.manager") :&nbsp;<span class="sub_title_h3">
			     @if(project.get.project_manager != -1 && !project.get.project_manager.isNaN()){
			    	 <a href="/employee/@project.get.project_manager">@UserService.findUserDetailsById(Integer.parseInt(project.get.project_manager.toString())).get.first_name&nbsp;@UserService.findUserDetailsById(Integer.parseInt(project.get.project_manager.toString())).get.last_name</a> </span> </span> 	
			     }
			    
		    </h3>
		     <input type="hidden" id="baseline_enabled_flag" name="baseline_enabled_flag" value="@project.get.baseline" />
	    	
		    <div class="desc">
		        <span  class="left project_manager_name"> <span class="sub_title_h3"></span> </span>
		        <span  class="left project_manager_name push_left140px"> <span class="sub_title_h3"> </span></span>
			
		    	<div class="width_full" id="project_details_main">
		    	<table>
				  	<tbody>
				  		<tr>
				  			
				  			@if(utils.UserAccess.checkAccess(req,"track_project")){
					  			<td class="table_header" colspan="1">	
					  				<span class="left width_full push-bottom-px5">
					  					<input type="checkbox" class="left" id="baseline_enabled" name="baseline_enabled" value=@project.get.baseline @(if (project.get.baseline) { "checked=true" } else { "" }) /><label  class="label-for baseline-label " for="baseline_enabled">@Messages("newProjectDeatils.trackchanges")</label>
					  				</span>
					  			</td>
				  			}
				  	
				  		</tr>
				  		<tr>
				  			<td class="table_header">@Messages("newProjectDeatils.startdate")</strong></td>
				  			<td  class="p_values"><span id="start_date" class="project-data" style="width:auto;">@project.get.start_date.format("dd-MM-yyyy")</span></td>
				  			<td class="table_header"><strong>@Messages("newProjectDeatils.enddate")  </strong></td>
				  			<td class="p_values "><span id="final_release_date" class="project-data" style="width:auto;">@project.get.final_release_date.format("dd-MM-yyyy")</span></td>
				  		</tr>

				  		<tr style="border:none;">
				  			<td class="table_header"><strong>@Messages("newProjectDeatils.plannedhours")</strong></td>
				  			<td  class="p_values" >
				  					<span class="project-data" id="planned_hours" style="float: left;width:73px">
									@if(!project.get.planned_hours.isEmpty){
										<input type="text" disabled="disabled" value="@project.get.planned_hours.get.toLong"  maxlength="8" readonly="readonly" class="planned_hours" />
										
									}else{
										<input type="text" disabled="disabled"  value="0" maxlength="8"  class="planned_hours" readonly="readonly"/>
									}
									</span>
									@if(ProjectService.permisosProyecto(project.get.pId.get.toString,session.get("uId").get)==1){
										<span class="edit-project-hours"></span>
									}
				  			</td>
							<td class="table_header"><strong>@Messages("projectdetails.workflow")</td>
				  			<td  class="p_values">@if(!project.get.work_flow_status.isEmpty){
			  						@if(!ProjectWorkflowStatusService.findProjectWorkflowStatusById(project.get.work_flow_status.get.toString).isEmpty){
			  							@ProjectWorkflowStatusService.findProjectWorkflowStatusById(project.get.work_flow_status.get.toString).get.project_workflow_status	
			  						}
			  					}
			  				</td>
				  		
				  		</tr>
					</tbody>
		  		</table>
		    	
		    	</div> 
		    	
		    	<div class="download_div" >
		   			@project.get.description
		   		</div>
		  
		    </div>

		  </div>


		@if(tasks.size>0 && utils.UserAccess.checkAccess(req,"task_listing")){
			  <div class="width_full  " id="earn-value-info"  >
				<h3 id="productNm">
				    <span class="left"> @Messages("programDetails.earnedvalueanalysis") </span>
			    </h3> 
					 <table id="subtask-details">
						<tbody>
						<tr>
							<td class="table_header">@Messages("programDetails.earnedvalue") </td>
							<td class="p_values width160px"><span id="ev"></span></td>
							<td class="table_header">@Messages("programDetails.scheduleperformanceindex")</td>
							<td class="p_values width160px"><span id="spi"></span></td>
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.plannedvalue")  </td>
							<td class="p_values width160px"><span id="pv"></span></td>
							<td class="table_header">@Messages("programDetails.costperformanceindex") </td>
							<td class="p_values width160px"><span id="cpi"></span></td>
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.actualcost")</td>
							<td class="p_values width160px"><span id="ac"></span></td>
							@if(ProjectService.permisosProyecto(project.get.pId.get.toString,session.get("uId").get)==1){
							<td class="table_header">@Messages("programDetails.estimatetocomplete")</td>
							<td class="p_values width160px"><span id="etc"></span></td>		
							}					
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.ha")</td>
							<td class="p_values width160px"><span id="ha"></span></td>	
							@if(ProjectService.permisosProyecto(project.get.pId.get.toString,session.get("uId").get)==1){					
							<td class="table_header">@Messages("programDetails.estimetcopmletion")</td>
							<td class="p_values width160px"><span id="eac"></span></td>
							}
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.scheduledvar")</td>
							<td class="p_values width160px"><span id="pai"></span></td>		
							<td class="table_header">&nbsp;</td>
							<td class="p_values width160px">&nbsp;</td>											
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.pae")</td>
							<td class="p_values width160px"><span id="pae"></span></td>
							<td class="table_header">@Messages("programDetails.hp")</td>
							<td class="p_values width160px"><span id="hp"></span></td>
						</tr>
						</tbody>
					</table>
	  			</div>
	  			
	  			
	  			<div class="width_full  " id="earn-value-info"  >
				<h3 id="productNm">
				    <span class="left"> Análisis del Valor Ganado Proporcional </span>
			    </h3> 
					 <table id="subtask-details">
						<tbody>
						<tr>
							<td class="table_header">@Messages("programDetails.plannedvalue")  </td>
							<td class="p_values width160px"><span id="pv2"></span></td>
							<td class="table_header">@Messages("programDetails.scheduleperformanceindex")</td>
							<td class="p_values width160px"><span id="spi2"></span></td>
						</tr>
						<tr>
							<td class="table_header">@Messages("programDetails.pae")</td>
							<td class="p_values width160px"><span id="pae2"></span></td>
						</tr>
						<!--  RRM: Agrega dos filas nuevas -->
						<tr>
							<td class="table_header">@Messages("programDetails.agi")</td>
							<td class="p_values width160px"><span id="agi"></span></td>
						</tr>	
						<tr>
							<td class="table_header">@Messages("programDetails.age")</td>
							<td class="p_values width160px"><span id="age"></span></td>
						</tr>							
						</tbody>
					</table>
	  			</div>
 		  }

		  
		
		<h3 class="layer-title" style="margin-top: 20px;line-height: 15px;  padding: 7px 0 0 !important; width: 100%;">
			    <span class="left">@Messages("projectdetails.projectrisk")</span>
			    
	   	</h3>
		<div class="program-div" id="new-risk">
			<span><a href="@controllers.Frontend.routes.Risks.addRisk(project.get.pId.get.toString,riskParentType.Project.id)"> @Messages("programdetails.addrisk")</a></span>
	   		@*<span><a href="@controllers.Frontend.routes.Risks.riskManagement(project.get.pId.get.toString,riskParentType.Project.id)"> @Messages("programdetails.addrisk")</a></span>*@
		</div>
		<div class="width_full">
			@frontend.risks.riskListing(project.get.pId.get.toString(),riskParentType.Project.id)
		</div>  
		  
		@if(utils.UserAccess.checkAccess(req,"project_sap_listing")){
			<h3 class="layer-title" style="margin-top: 20px">
			    <span class="left">@Messages("projectdetails.projectSAPlisting")</span>
			    
	   		</h3>
	   		@if(utils.UserAccess.checkAccess(req,"project_sap_add") && utils.UserAccess.isAuthenticaedProject(req,project.get.pId.get.toString)){
			   	<div class="program-div" id="new-project-sap">
			   		<span><a href="@controllers.Frontend.routes.ProjectMaster.newProjectSAP(project.get.pId.get.toString)">@Messages("programdetails.addsap")</a></span>
				</div>
			}
			<div class="width_full" id="project_sap_listing">
				@frontend.project.projectSapListing(project.get.pId.get.toString)
			</div>
		
		}

	
		@if(utils.UserAccess.checkAccess(req,"task_listing")){
		  <div class="product_detail_2" id="p_page">
		   <h3 id="productNm">
			    <span class="left">@Messages("newProjectDeatils.tasks") </span>
					     
		   </h3>
		   	<div class="width_full project-details" style="margin-bottom: 4px;">
		   	
			   	@if(utils.UserAccess.checkAccess(req,"task_add") && utils.UserAccess.isAuthenticaedProject(req,project.get.pId.get.toString)){
				   	  <a href="/new-task/@project.get.pId">
				   		<div class="newtask-div" id="new-task">
				        	<span>@Messages("newProjectDeatils.newtask")</span>
				    	</div>
				     </a>
				     }
					@if(tasks.size >10){
					<span class="left"><span class="pageRecord_label left margin-top5">@Messages("projectdetails.noofrecords")</span>
					&nbsp;
						<select id="pageRecord" class="pageRecord_tasklist span1">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
						</select>
					</span>
					}else{
					<input id="pageRecord" class="pageRecord"  type="hidden" value="10">
					}	
		    		<div class="right push-right27px tasks-total">
			    		<span class="left">@Messages("newProjectDeatils.totaltasks"):&nbsp; </span>
			    		<span class="left task-count"> @tasks.size</span>
			    	</div>
	    	</div>
		    <div class="left productDetailView"  id="productDetailView" style="margin:0px;">
		    	  <input type="hidden" id="pDetailType" name="pDetailType" value="1" />
		   	</div>
		   
		    
		    <!-- Milestone/Task details -->
		  
		    <div id="project_task_list" class="width_full">

			    <ul class="width_full" id="t_data_list">
			    	<li class="header_task">
			    		<div class="task_title" style="width: 320px;">@Messages("newProjectDeatils.task") </div>
			    		<div class="task_owner_name" style="width: 100px;">@Messages("newProjectDeatils.taskowner") </div>
			    		<div class="task_plan_start_date" style="width: 65px; text-align: left;">@Messages("newProjectDeatils.plannedstartdate") </div>
			    		<div class="task_plan_end_date" style="width: 65px; text-align: left;">@Messages("newProjectDeatils.plannedenddate")</div>
			    		<div class="task_plan_time" style="width: 65px; text-align: left;">@Messages("newProjectDeatils.assignedhrs")  </div>
			    		<div class="task_staus" style="width: 65px;">@Messages("newProjectDeatils.subtasks") </div>
			    		<div class="baseline_status" style="width: 50px;">@Messages("newProjectDeatils.trackchanges")</div>
			    		<div class="left task_staus" @if(!project.get.baseline) {style="width: 50px;"}else{style="width: 40px;"} >@Messages("addDepartment.projectworkflowstatus")</div>
			    		<div class="left task_action " style="margin-left:15px;width: 70px;">@Messages("newProjectDeatils.action") </div>
			    	</li>
    			    @if(tasks.size>0){
				    	@for( (m , index)<- tasks.zipWithIndex){
				    		
				    	<li class='width_full task_data @{if((index+1)%2==0){"task_odd_row"}else{"task_even_row"}}'>
				    	 	<div class="main_task_data">
					    		<a href="/project-task-details/@m.tId">	
					    		<div class="task_title" style="width: 320px;">
				    				<span class="status_@m.task_status"></span>
					    			<span style="float:left;width:83%;word-wrap: break-word;" class="show-task-details" id="mt_@m.tId.get">
					    				@if(m.task_title.length>42){@m.task_title.substring(0,42)...}else{ @m.task_title }
					    			</span> 
					    			<span class="display-none" id="task_@m.tId.get">@m.task_title </span>
				    			</div>
				    			
					    		<div class="task_owner_name" style="width: 100px;">@if(m.owner != -1){@UserService.findUserDetailsById(m.owner.toLong).get.first_name @UserService.findUserDetailsById(m.owner.toLong).get.last_name}</div>
					    		<div class="task_plan_start_date" style="width: 65px; text-align: left;">@m.plan_start_date.format("dd-MM-yyyy") </div>
					    		<div class="task_plan_end_date" style="width: 65px; text-align: left;">@m.plan_end_date.format("dd-MM-yyyy") </div>
					    		
					    		<div class="task_plan_time" style="width: 65px;text-align: center;">@allocatedForTasks.get(m.tId.toString())</div>
					    		@*<div class="task_plan_time" style="">@m.milestone_status </div>*@
					    		<div class="task_staus" style="width: 65px;text-align: center;">@TaskService.findSubTaskListByTaskId(m.tId.get.toString()).size </div>
					    		
					    		<div class="baseline_status change-status-base" style="width: 50px;text-align: center;">@if(!project.get.baseline){No} else {Yes}</div>
					    		  
					    		<div class="left task_staus" @if(!project.get.baseline) {style="margin-right:25px;width: 50px;"}else{style="margin-right:25px;width: 40px;"} >
					    		@{
						    			if(!TaskService.findTaskStatus(m.tId.get.toString()).isEmpty){
						    				TaskService.findTaskStatus(m.tId.get.toString()).get.status match{
						    					case 0 => <span class='status_0 ' style='margin-left:25px'></span>	
												case 1 => <span class='status_1 ' style='margin-left:25px'></span>	
												case 2 => <span class='status_2 ' style='margin-left:25px'></span>
						    				} 
						    			}else{
							    			 <span class='status_0 ' style='margin-left:25px'></span>
						    			}	
					    		}
					    		
					    		</div>
					    		
					    		</a>
					    		<div  class="left task_action" style="width: 70px; float:right;">

					    			<span id="st_@m.tId" class="show_tasks_details"></span>	
					    			@if(utils.UserAccess.checkAccess(req,"task_delete") && utils.UserAccess.isAuthenticaedProject(req,project.get.pId.get.toString) && TaskService.canDeletedTask(m.tId.get.toString()) ){
					    				<span id="dt_@m.tId" class="delete_tasks_details">
					    				<input type="hidden" value="@TaskService.validateTasksDependency(m.pId.toString(),m.tId.get.toString())"></span>
					    			}
					    			
					    			@*if(TaskService.findSubTaskListByTaskId(m.tId.get.toString()).size == 0){
	    			  				
	    			  				}*@
	    			  				
					    			@*@if(TaskService.findSubTaskListByTaskId(m.tId.get.toString()).size == 0){
					    				<a href="/project-task-details/@m.tId">	<span id="st_@m.tId" class="show_tasks_details"></span>	</a>
					    				
					    			}else{
					    				<a href="/project-task-details/@m.tId">	<span id="st_@m.tId" class="show_tasks_detailsNoDelete"></span>	</a>
					    			}*@
					    			<span id="et_@m.tId" class="edit_tasks_details display-none"></span>
					    			@*<span id="dt_@m.tId" class="delete_tasks_details"></span>*@
					    		</div>
				    		</div>
				    		
				    	</li>		
				    	}
				    	
		
			    	}else{
			    		<div class="width_full no-task">@Messages("newProjectDeatils.notaskavailable")</div>
		    		}
			    	
			    </ul>
		   		
		    <ul id="task_items"></ul>
		    </div>
	     	<div class="width_full">
	     		
	     	@if(tasks.size!=0 && utils.UserAccess.checkAccess(req,"task_listing")){
     			<div class="width_full">
				    <h3 id="task-gantt-label">
					<span class="left" style="padding: 5px;">@Messages("newProjectDeatils.ganttchartview")</span>
				    </h3>
				    <span class="left width_full push-bottom-px5">
						<input type="checkbox" name="critical_path" id="critical_path" class="left">
			 			<label for="critical_path" class="label-for baseline-label " style="margin-top: 7px">@Messages("newProjectDeatils.criticalpath") </label>
					</span>
				</div>
				<div class="width_full" id="task-gantt" >
				</div>
			}
		    </div>
		   
		   <!--  graph design --> 
	      @*<div class="left project-back content-box-content">
	      	<a href="/program-details/@project.get.program">
	      		<span class="back-to-program"></span>
	      		<span class="left back-to-program-text">Back to Program Details</span>
      		</a>
     	   </div>
		    <div class="width_full display-none">
		    	<div title="add new sub tasks " class="add_subtask">
		    		<span>New Sub Task</span>
		    	</div>
		    	<div class="right" id="sub-task-count">
		    		<span> </span>
		    	</div>
		    	
		    </div>        
		              
		    <div class="design_team content-box-content display-none" id="teamhistory" style="margin-top:10px">
		   	 
		    </div>
		  	*@
		
		  <div id="pop-box" class="display-none"> 
		  </div>
		  </div> 
		  
		  }
		  
		  
 		  @*else{
			<div class="project_list project-list-none">
				<p>@Messages("programDetails.notasksavailable") </p>
			</div>
		  }*@
		  @if(utils.UserAccess.checkAccess(req,"upload_task_document")){
		  	  <div class="left" style="margin-top: 20px;" >
			   <h3 id="productNm"><span class="left">@Messages("uploaddocument.documents")</span></h3>
			   <div class="program-div" id="new-program"><span><a href='@controllers.Frontend.routes.Documents.uploadDocument(project.get.pId.get.toString, "PROJECT", "ADD")'>@Messages("uploaddocument.uploaddocument")</a></span></div>
			   
			   <div id="docuement-overview">
					<div class="document-left">
						<h3 style="width:99%;font-size:14px;height:26px;padding-left: 5px;">@Messages("projectdetails.project")</h3>
						
						<div  id="pr_@project.get.pId" class="project-data-row-even">
							<span class="left project_icon"></span><span class="left project_title">@project.get.project_name</span>
						</div>			
						<div id="t_@project.get.pId" class="display-none">
							@for( (task, tIndex ) <- tasks.zipWithIndex){
								<div  id="ts_@task.tId.get" class="task_list @if( tIndex%2==0 ){ task-data-row-even }else{ task-data-row-odd }">
									<span class="left task_icon"></span><span class="left task_title">@task.task_title</span>
								</div>
								<div id="s_@task.tId.get" class=" display-none">
										@for( (subtask, sIndex) <- SubTaskServices.findSubTasksByTask(task.tId.get.toString).zipWithIndex ){
												<div  id="st_@subtask.sub_task_id.get" class=" sub_task_list @if( sIndex%2==0 ){ data-row-even }else{ data-row-odd }">
													<span class="left sub_task_icon"></span><span class="left sub_task_title">@subtask.task</span>
												</div>
										}
								</div>
							}
						</div>
					</div>	
					
					<div  class="document-right">
						<div class="doc_listing">
								@if(documents.size > 0){	
									<h2> @Messages("document.currentsdocuments")</h2>
									<div id="current_documents">
										<ul class="width_full">
											<li>
												      <span class="doc_title bold">@Messages("document.documenttitle")</span> 
														<span class="doc_version bold"> @Messages("document.version") </span>
														<span class="doc_date bold">@Messages("document.dateofupload") </span> 
														<span class="doc_user bold">  @Messages("document.uploadedby")</span> 
														<span class="doc_action bold"> @Messages("document.action")</span>
											</li>
											@for((doc, index) <- documents.zipWithIndex){
												<li class="@if( index%2==0 ){ search-result-datarow-even current-doc-listing}else{ search-result-datarow-odd current-doc-listing}">
													<span class="doc_title">@doc.title</span> 
													<span class="doc_version">@DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.version_alias</span>
													<span class="doc_date"> @DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.creation_date.format("dd/MM/YYYY")</span> 
													<span class="doc_user">@UserService.findUserDetailsById(DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.user_id.toLong).get.first_name @UserService.findUserDetailsById(DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.user_id.toLong).get.last_name</span>
													<span class="doc_action"> 
														<span class="doc_info" title="@DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.version_notes"></span>
														<a href='/documents/@DocumentService.findAllCurrentVersions(doc.Id.get.toString()).get.file_name' target='_blank'><span class="doc_view" title="Click to download the document."></span></a>
														<a href='@controllers.Frontend.routes.Documents.uploadDocument(doc.Id.get.toString(), "PROJECT", "UPDATE")'><span class="doc_edit" title="Click to uplaod the new version of the document."></span> </a>
														<a href='@controllers.Frontend.routes.Documents.documentDelete(doc.Id.get.toString())' id="Proyecto_@doc.Id.get.toString()" class="delete-doc @doc.Id.get.toString()"><span class="doc-delete" title="Delete Document"></span></a>
													</span>
												</li>
											}
										</ul>
									</div>
								
									<h2 class="left push-top20px">@Messages("document.previoussdocuments")</h2>
									<div id="previous_documents">
										<ul class="width_full">
											<li>
												      <span class="doc_title bold">@Messages("document.documenttitle")</span> 
														<span class="doc_version bold"> @Messages("document.version") </span>
														<span class="doc_date bold">@Messages("document.dateofupload") </span> 
														<span class="doc_user bold">  @Messages("document.uploadedby")</span> 
														<span class="doc_action bold"> @Messages("document.action")</span>
											</li>
											@for(doc <- documents){
												@if(!DocumentService.findAllPreviousVersionDocuments(doc.Id.get.toString()).isEmpty){
													@for(version <- DocumentService.findAllPreviousVersionDocuments(doc.Id.get.toString())){
														@{i = i+1}
														<li class="@if( i%2==0 ){ search-result-datarow-even prev-doc-listing prev-doc-listing-@doc.Id.get.toString()}else{ search-result-datarow-odd prev-doc-listing prev-doc-listing-@doc.Id.get.toString()}">
															<span class="doc_title">@doc.title</span> 
															<span class="doc_version">@version.version_alias</span>
															<span class="doc_date"> @version.creation_date.format("dd/MM/YYYY")</span> 
															<span class="doc_user">@UserService.findUserDetailsById(version.user_id.toLong).get.first_name </span>
															<span class="doc_action"> 
																<span class="doc_info" title="@version.version_notes"></span>
																<a href='/documents/@version.file_name' target='_blank'><span class="doc_view" title="Click to download the document"></span></a>
																<a href='@controllers.Frontend.routes.Documents.uploadDocument(doc.Id.get.toString(), "PROJECT", "UPDATE")' class="update-doc display-none"><span class="doc_edit" title="Click to uplaod the new version of the document."></span> </a>
																<a href='@controllers.Frontend.routes.Documents.documentDelete(doc.Id.get.toString())' id="Proyecto_@doc.Id.toString()" class="delete-doc @doc.Id.toString() display-none"><span class="doc-delete" title="Delete Document"></span></a>
															</span>
														</li>
													}
												}
											}
										</ul>
									</div>
								}else {
									<h2 class="left push-top20px no-document">@Messages("document.nodocumentavailableforselected") @Messages("roadmap.project")  </h2>
								}
							</div>
	 				</div>
				</div>
			</div>
		}
		@if( utils.UserAccess.checkAccess(req,"project_gantt")){
		  	 <h3 id="productNm_earnedvalueanalysis" style="margin-top: 20px" class="width_full display-none" >
			    <span class="left"> @Messages("programDetails.earnedvalueanalysis")  </span>
			 </h3>
			<div class="width_full display-none" id="earn-value">
			     <div id="container_id" style="height: 300px;"> </div>
			    <div id="container_2" style="height: 300px;"> </div>
			 @*   <div id="container_3" style="height: 300px;"> </div>*@
			</div>
		}else{
			 <div class="width_full " id="earn-value" style="display: none;">
		          <div id="container_id" style="height: 300px;"></div>
		 		  <div id="container_2" style="height: 300px;"></div>
		 		@*  <div id="container_3" style="height: 300px;"></div>*@
			 </div>
		 	 <div class="project_list project-list-none">
				<p>@Messages("programDetails.noprojectsavailable") </p>
			</div>
		}	

  </div>
  <div id="dialog-confirm"></div>	
	  @frontend.footer()
</section>
  	 <div id="pop-box-over" class="display-none"> 
  	 </div>
   
  <div id="dialog-box" class="product-detail-dialog" style="width:190px;"><span class="dialog-close"></span><div class="dialog-content">
	</div>
</div>
 
 
	<div class="tooltip"></div>		
</div>	 
@frontend.headerScripts()	
@*<script type="text/javascript" src="http://www.pureexample.com/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("frontend/js/flot/jquery.flot.symbol.js")"></script>*@
<script type="text/javascript" src="@routes.Assets.at("frontend/js/main.js")"></script>
<script src="@routes.Assets.at("frontend/js/jquery.simplePagination.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@routes.Assets.at("frontend/stylesheets/documents.css")">
<script src="@routes.Assets.at("frontend/highcharts/highcharts.js")"></script>
<script src="@routes.Assets.at("frontend/js/documents.js")" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	@* @if( utils.UserAccess.checkAccess(req,"project_gantt")){
				var url ="/get-spi-graph-project?project_id=@project.get.pId.toString()";
				$.get(url, function(data) {
				 var json_var = $.parseJSON(data);
				 
				    if("empty_object" === json_var.empty_object){
				         $("#container_id").hide();
				          $("#container_2").hide();
				           $("#productNm_earnedvalueanalysis").hide();
				    }else{
				 
				  var json_data = json_var.spi_date_map
				  var json_data2 = json_var.cpi_date_map
				  var json_data6 = json_var.ecpi_date_map
				  var json_data7 = json_var.espi_date_map
				  
				  var json_data3 = json_var.actual_cost_map
				   var json_data4 = json_var.earn_value_map
				   var json_data5 = json_var.planned_value_map
				  
				   var json_data8 = json_var.e_actual_cost_map
				   var json_data9 = json_var.e_earn_value_map
				   var json_data10 = json_var.inc_planned_value_map 
				  
				   var programIdMap = json_var.program_id
				   
				   
				  var items = [];
				  var items2 = [];
				  var items3 = [];
				  
				  var items4 = [];
				  var items5 = [];
				  
				  var items6 = [];
				  var items7 = [];
				  var items8 = [];
				  
				  var items9 = [];
				  var items10 = [];
				  
				  
				  var items11 = [];
		
				  
		
				  
				  for (x in json_data6) {
						 var date = x
						 var d = new Date(parseInt(date));
						 items6.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data6[x]]);
						 items6.sort(function(a, b){
										    if (a < b) return -1;
										    if (b < a) return 1;
										    return 0;
										});
					}
				  
				  for (x in json_data7) {
						 var date = x
						 var d = new Date(parseInt(date));
						 items7.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data7[x]]);
						 items7.sort(function(a, b){
										    if (a < b) return -1;
										    if (b < a) return 1;
										    return 0;
										});
					}
				  
				  for (x in json_data8) {
						 var date = x
						 var d = new Date(parseInt(date));
						 items8.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data8[x]]);
						 items8.sort(function(a, b){
										    if (a < b) return -1;
										    if (b < a) return 1;
										    return 0;
										});
					}
				  
				  for (x in json_data9) {
						 var date = x
						 var d = new Date(parseInt(date));
						 items9.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data9[x]]);
						 items9.sort(function(a, b){
										    if (a < b) return -1;
										    if (b < a) return 1;
										    return 0;
										});
					}
				  
				  for (x in json_data10) {
						 var date = x
						 var d = new Date(parseInt(date));
						 items10.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data10[x]]);
						 items10.sort(function(a, b){
										    if (a < b) return -1;
										    if (b < a) return 1;
										    return 0;
										});
					}
				  
	       		 for (x in json_data5) {
					 var date = x
					 var d = new Date(parseInt(date));
					 items5.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data5[x]]);
					 items5.sort(function(a, b){
									    if (a < b) return -1;
									    if (b < a) return 1;
									    return 0;
									});
				}
				  
				for (x in json_data4) {
					 var date = x
					 var d = new Date(parseInt(date));
					 items4.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data4[x]]);
					 items4.sort(function(a, b){
									    if (a < b) return -1;
									    if (b < a) return 1;
									    return 0;
									});
				} 
				  
				  for (x in json_data3) {
					 var date = x
					 var d = new Date(parseInt(date));
					 items3.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data3[x]]);
					 items3.sort(function(a, b){
									    if (a < b) return -1;
									    if (b < a) return 1;
									    return 0;
									});
				  }
				  
				for (x in json_data2) {
					 var date = x
					 var d = new Date(parseInt(date));
					 items2.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data2[x]]);
					 items2.sort(function(a, b){
									    if (a < b) return -1;
									    if (b < a) return 1;
									    return 0;
									});
				} 
				  
				 for (x in json_data) {
					 var date = x
					 var d = new Date(parseInt(date));
					 items.push([Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()),json_data[x]]);
					 items.sort(function(a, b){
									    if (a < b) return -1;
									    if (b < a) return 1;
									    return 0;
									});
				}
				
				 
		
				 
				
					Highcharts.setOptions({ // This is for all plots, change Date axis to local timezone
						global : {
							useUTC : false
						},
					
						 chart: {
					            backgroundColor: {
					                linearGradient: [0, 0, 500, 500],
					                stops: [
					                    [0, 'rgb(255, 255, 255)'],
					                    [1, 'rgb(240, 240, 255)'],
					                    [2, 'rgb(68, 11, 182)'],
					                    [3, 'rgb(11, 182, 176)']
					                    ]
					            },
					           // borderWidth: 2,
					            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
					           // plotShadow: true,
					            plotBorderWidth: 1
					        }
					});
					var chart = new Highcharts.Chart({
						chart : {
							renderTo : 'container_id',
							zoomType : 'xy'
						},
						title: {
					            text: 'SPI CPI Chart'
					    },
						xAxis : {
							type : 'datetime'
						},yAxis: {
				            title: {
				                text: 'values'
				            }
				        },
						series : [ {
						 	name: 'SPI  ',
							data : items
						}, {
			            	name: 'CPI ',
			            	data: items2
					 	},{
				            name: 'ECPI ',
				            data: items6
					 	},{
				            name: 'ESPI ',
				            data: items7
					 	}]

					});
					
					
					
					
					var chart_2 = new Highcharts.Chart({

						chart : {
							renderTo : 'container_2',
							zoomType : 'xy'
						},
							   title: {
					            text: 'Gráfico Valor Ganado'
					        },

						xAxis : {
							type : 'datetime'
						},yAxis: {
				            title: {
				                text: 'values'
				            }
				        },
						series : [ {
							name: 'Actual Cost',
							data : items3
						}, {
			            	name: 'EV',
			            	data: items4
					 	} ,{
					 		name :'PV',
					 		data: items5
					 	},{
					 		name :'PVINC',
					 		data: items10
					 	}
					 ,{
					 		name :'EEV',
					 		data: items9
					 	}]

					});
				 }
					});//ajax get end
				
			}	*@
	
	
	
	$(".show-task-details").data('powertip',function() {
		var _this= $(this);
		var id= _this.attr("id").split("_")[1];
		var context = $("#task_"+id).text();
		return context;
	});

	$(".show-task-details").powerTip({
		placement : 'ne', 
		mouseOnToPopup : true
	});
	
	var items = $("#project_task_list .task_data");
						var perPage = 10;
						var numItems = items.length;
						if (numItems > 10) {
							$('#task_items').css('display', 'block');
							items.slice(perPage).hide();
							$("#task_items").pagination(
									{
										items : numItems,
										itemsOnPage : perPage,
										cssStyle : "light-theme",
										onPageClick : function(pageNumber) { // this is where the magic happens
											// someone changed page, lets hide/show trs appropriately

											var showFrom = perPage * (pageNumber - 1);
											var showTo = showFrom + perPage;

											items.hide() // first hide everything, then show for the new page
											.slice(showFrom, showTo).show();
											$("#teamhistory").html("");
											$("#t_data_list")
													.find(".task_data")
													.removeClass(
															"selected-task");
										}
									});
						} else if (numItems === 0) {
							$('#emp_list_item').css('display', 'none');
						}
		$("#pageRecord").on("change",function(){
						//var perPage = 10;
						perPage = parseInt($(this).val());	
						$("#task_items").pagination('updateItemsOnPage', perPage);
						getRenderGanttChart(perPage);
			});

	$(".planned_hours").keypress(function (e) {
				     //if the letter is not digit then display error and don't type anything
				     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
				        //display error message
				        return false;
				    }
				   });

						

						//call from road map page...

						var url = window.location.href;
						var withOutParametters = url.split('#')[1];
						if (typeof withOutParametters !== "undefined") {
							if (withOutParametters.indexOf("page") == -1) {
								var count = 0;
								$("#project_task_list").find(
										".show_tasks_details").each(
										function() {
											count++;
											var id = $(this).attr("id").split(
													"_")[1];

											if (id == withOutParametters) {
												var page = 1
												var x = count;
												var y = 5;
												var res = x % y
												if (res != 0) {
													page = ((x - res) / y + 1);
												} else {
													page = ((x - res) / y);
												}

												$("#task_items").pagination(
														'selectPage', page);
												$("#pop-box").html("");
												$("#pop-box").addClass(
														"display-none");
												$("#pop-box-over").addClass(
														"display-none");
												//$("#st_"+withOutParametters).trigger("click");

											}
											//

										});
							}
						}
					   	@if(tasks.size!=0 && utils.UserAccess.checkAccess(req,"task_listing")){
							getRenderGanttChart(20);
						}
						renderProjectEarnValue($("#project_id").val()); 
						renderProjectEarnValuepro($("#project_id").val()); 

						var changeSet = $("#project_changeset").val();
						var finalReleaseChanges = "";
						var projectHoursChanges = "";
						var startDate = "";
						if (changeSet != '') {
							var jsonObj = $.parseJSON(changeSet);
							$
									.each(
											jsonObj,
											function(idx, obj) {
												if (obj.fieldName == "final_release_date") {
													finalReleaseChanges = finalReleaseChanges
															+ "<span style='text-decoration: line-through;'>"
															+ obj.org_value
															+ "</span><br>";
												} else if (obj.fieldName == "start_date") {
													startDate = startDate
															+ "<span style='text-decoration: line-through;'>"
															+ obj.org_value
															+ "</span><br>";
												} else if (obj.fieldName == "project_hours") {
													projectHoursChanges = projectHoursChanges
															+ "<span style='text-decoration: line-through;'>"
															+ obj.org_value
															+ "</span><br>";
												}
											});
						}
						$('.project-data').data('powertip', function() {
							if ($(this).attr('id') == "final_release_date") {
								return finalReleaseChanges;
							} else if ($(this).attr('id') == "start_date") {
								return startDate;
							} else if ($(this).attr('id') == "planned_hours") {
								//console.log("horas:"+projectHoursChanges);
								return projectHoursChanges;
							}

						});

						$('.project-data').powerTip({
							placement : 'ne', // north-east tooltip position
							mouseOnToPopup : true
						});

					});
</script>
	</body>	
	
	
</html>

