@(program_status:Form[ProjectStatus],project_id:String,projectStatusList :Seq[ProjectStatus])(implicit session: play.api.mvc.Session,lang:Lang,req : play.api.mvc.RequestHeader)
@frontend.layout()
@import helper._
@import services._
@import java.util.Date._
@import play.api.libs.json.Json
</head>
<body>
@frontend.topLayout()
<div class="main">

@frontend.header()
<section class="slider" id="program_member_form">

<div class="width_full" >
<h3 id="productNm" class="parent-new-h3">
    	<span class="parent-icon"> &#60; </span>
	  	<a href="@controllers.Frontend.routes.ProjectMaster.updateProject(project_id)" style="font-weight: bold">
	  		<span class="left">@Messages("employeeProfile.back")</span>
  	  	</a>
   </h3>
 </div>
 
<p class="new-member-title">@Messages("updateprojectstatus.title")</p>

	<div class="width_full" >
		@form(action = controllers.Frontend.routes.ProjectMaster.updateStatus(project_id),  'id->"status-form") {
			<input type="hidden" id="id" name="id" value="@if(!program_status.data.get("id").isEmpty){@program_status.data.get("id").get}"/>
			<input type="hidden" id="project_id" name="project_id" value="@project_id"/>
			<input type="hidden" id="status_for_date" name="status_for_date" value="@(new java.util.Date().format("dd-MM-yyyy"))"/>
			<div class="width_full" >
				@textarea(
		                program_status("reason_for_change"),
		                'class -> "span4", 
		                '_label -> Messages("editsubtask.reasonforchangestatus"),
		                'placeholder -> Messages("editsubtask.enterreasonforchangestatus"),
					    'rows -> 7,
					    'cols -> 60
	            )
	           	@select(
				         program_status("status"),
				         options("0"-> "Green","1"->"Amber","2"->"Red"),
				         'class -> "input-xlarge ",
				         '_label -> Messages("editsubtask.status"),
				         '_default -> Messages("editsubtask.choosestatus")
		      	)	
	      	</div>
	      	<div class="width_full" >
			       	<span class="left push-left170px"><input class="btn  form-button" value="@Messages("updateprojectstatus.change")" type="submit"/></span>
			       	<span  class="left" style="margin-left:30px;"><input id="cancel-sap" class="btn form-button" value="@Messages("button.cancel")" type="button"/></span>
			</div>	
			
		   	<div class="width_full" >
	      		<div id="gridWrapper">
			      	<table id="jqtable"></table> 
			    </div>	
			</div>	
		}
	
	</div>
	
	<div id="dialog-confirm"></div>	
</section>
<div id="pop-box-over" class="display-none"></div>
</div>

@frontend.headerScripts()
<style type="text/css">
        span.cellWithoutBackground
        {
            display:block;
            background-image:none;
            margin-right:-2px;
            margin-left:-2px;
            height:14px;
            padding:4px;
        }
</style>
<script type="text/javascript" src="@routes.Assets.at("frontend/js/main.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("frontend/jquery-ui-1.12.1/jquery-ui.css")">
<link rel="stylesheet" href="@routes.Assets.at("frontend/jqgrid/css/ui.jqgrid.css")">
<script src="@routes.Assets.at("frontend/jqgrid/js/i18n/grid.locale-es.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("frontend/jqgrid/js/jquery.jqGrid.min.js")" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
		var data = JSON.stringify('@Json.toJson(projectStatusList)');
		data = data.replace(/&quot;/g,'\\"');
		var jsonList = JSON.parse(data);

		$("#jqtable").jqGrid({
                datatype: "jsonstring",
                datastr: jsonList,
			    colModel: [
			            { label: 'Fecha', name: 'status_for_date', width: 100,formatter: 'date', formatoptions: { srcformat: 'U/1000', newformat:'d/m/Y' } },
			            { label: 'Motivo', name: 'reason_for_change', width: 300},
			            { label: 'Estado', name: 'status', width: 100,
			            	formatter: function (cellvalue) {
                            	var color;
                            	var val = Number(cellvalue);
                            	if (val==2) {
                             	   color = 'red';
                            	} else if (val==1) {
                             	   color = 'yellow';
                            	} else {
                             	   color = 'green';
                            	}
                        		return '<span class="cellWithoutBackground" style="background-color:' + color + ';"></span>';
                        	}
			            	
			            }            
			    ],
				viewrecords: true,
				regional : "es",
				rowList: [],        // disable page size dropdown
    			pgbuttons: false,     // disable page control like next, back button
    			pgtext: null,         // disable pager text like 'Page 0 of 10'
    			viewrecords: false,    // disable current view record text like 'View 1-10 of 100' 
    			caption: "Registros Históricos",
    			autoWidth: true,
    			emptyRecords: "No hay registros",
                height: "auto",
                gridComplete: function() {
        			var recs = parseInt($("#jqtable").getGridParam("records"),10);
			        if (isNaN(recs) || recs == 0) {
			            $("#gridWrapper").hide();
			        } else {
			            $('#gridWrapper').show();
			        }
    			}
		});	    
	    $("#jqtable").closest("div.ui-jqgrid-view")
                .children("div.ui-jqgrid-titlebar")
                .css("text-align", "center")
                .children("span.ui-jqgrid-title")
                .css("float", "none");
	$('#cancel-sap').on('click',function() {
		 window.location.href='@controllers.Frontend.routes.ProjectMaster.updateProject(project_id)';
	});
});
</script>
</body>
</html>