<!DOCTYPE html>
<meta charset="utf-8">
<link href="http://localhost:3000/stylesheets/bootstrap.min.css" rel="stylesheet" />
<script src="http://localhost:3000/javascripts/jquery-1.12.3.js" />
<script>
    $(function () {
        var data = {{{toJSON prefactura}}}
        var prefactura = data.map(function(b) { return [ b.id,
		 b.servicio,
		 b.glosaservicio, 
		 b.montoaprobado, 
		 b.montoaprobadopesos,
		 b.montoapagarpesos, 
		 b.factorconversion,
		 b.glosamoneda,
		 b.fechainicio,
		 b.fechatermino,
		 b.cuentacontable,
		 b.nombrecuenta,
		 b.montomulta,
		 b.nombreresponsable,
		 b.numcui,
		 b.montoapagar,
         b.idfacturacion,
		 b.montomultapesos,
		 b.montototalpesos,
		 b.subtotal
		]});
    });
</script>
<div class="container">
	<div class="row">
		<!-- /container-->
		<div class="row" style="border:none; background:white; height:210px;">
			<div class="col-xs-6">
				<h1><img src="http://localhost:3000/images/logo.png" style="height:151px;"></h1>
			</div>
			<div class="col-xs-6 text-right">
				<h1>PRE-FACTURA Nº {{getId prefactura}}</h1>
				<h2><small>Nº Contrato: {{getNumeroContrato prefactura}} <br/>Fecha: {{getFecha prefactura}}</small></h2>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-xs-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Cui: {{getCui prefactura}}</h4>

					</div>
					<div class="panel-body">
						<p>Responsable: {{getNombreResponsable prefactura}}</p>
						<p>Cargo: {{getCargo prefactura}}</p>
						<p>Email: {{getEmailResponsable prefactura}}</p>
					</div>
				</div>
			</div>
			<div class="col-xs-5 col-xs-offset-2 text-right">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Proveedor: {{getProveedor prefactura}} </h4>

					</div>
					<div class="panel-body">
						<p>Rut : {{getRutProveedor prefactura}}</p>
						<p>Contacto: {{getContacto prefactura}}</p>
						<p>Email: {{getCorreo prefactura}}</p>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>
						<h4>Código</h4>
					</th>					
					<th>
						<h4>Servicio</h4>
					</th>
					<th>
						<h4>Cantidad</h4>
					</th>
					<th>
						<h4>Precio</h4>
					</th>
					<th>
						<h4>Descuento</h4>
					</th>
					<th>
						<h4 align=center>Total</h4>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each prefactura}}
				<tr>
					<td>{{idfacturacion}}</td>
					<td>
						{{servicio}}<br>
						{{glosaservicio}}<br>
						Monto Aprobado: {{montoaprobado}} {{glosamoneda}}, {{montoaprobadopesos}} <br>
						Tipo de Cambio: {{factorconversion}}<br>
						Cuenta Contable: {{cuentacontable}}, {{nombrecuenta}}<br>
						Cui: {{numcui}}<br>
						At: {{nombreresponsable}}<br>
					</td>
					<td class="text-right">1</td>
					<td class="text-right">{{montoaprobadopesos}}</td>
					<td class="text-right">{{montomultapesos}}</td>					
					<td class="text-right">{{montototalpesos}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table> 
		<div class="row text-right">
			<div class="col-xs-3 col-xs-offset-7"><strong>Subtotal:<br>(IVA 19%):<br>Total:<br></strong></div>
			<div class="col-xs-2"><strong>{{subtotal prefactura}}<br>{{totalimpuesto prefactura}}<br>{{totalprefactura prefactura}}<br></strong></div>
		</div>
	</div>
</div>