<!DOCTYPE html>
<meta charset="utf-8">
<link href="http://152.139.147.41:3000/stylesheets/bootstrap.min.css" rel="stylesheet" />
<style>
	body {
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform: scale(0.95);
		-webkit-transform: scale(0.95);
		font-size: 100%;
		/*white-space: nowrap;*/
	}
</style>
<script src="http://152.139.147.41:3000/javascripts/jquery-1.12.3.js" />
<script>
	$(function () {
		var reserva = {
			{
				{
					toJSON reserva
				}
			}
		}

		var reserva = data.map(function (b) {
			return [id,
				idproducto,
				numlicencia,
				fechauso,
				fechasolicitud,
				cui,
				sap,
				comentariosolicitud,
				estado,
				idusuario,
				fechaaprobacion,
				comentarioaprobacion,
				fechaautorizacion,
				comentarioautorizacion,
				idusuariojefe,
				codautoriza
			]
		});
	});
</script>
<div class="container">
	<div class="row">
		<!-- /container-->
		<div class="row" style="border:none; background:white; height:210px;">
			<div class="col-xs-6">
				<h1>
					<img src="http://152.139.147.41:3000/images/logo.png" style="height:151px;">
				</h1>
			</div>
			<div class="col-xs-6 text-right">
				<h1>CÓDIGO AUTORIZACIÓN Nº {{getCodAutoriza reserva}}</h1>
				<h2>
					<small>Fecha de Autorización: {{getFechaAutorizacion reserva}}</small>
				</h2>
			</div>
			
		</div>
		<hr>
		
		<body>
			<h2>Estimados</h2>
			<h3>Se autoriza la reserva del producto detallado a continuación:</h3>
		</body>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Código de Autorizacion	: {{getCodAutoriza reserva}}</h4>
						<h4>Producto				: {{getProducto reserva}}</h4>
						<h4>Cantidad				: {{getNumLicencia reserva}}</h4>
						<h4>Fecha de Uso			: {{getFechaUso reserva}}</h4>
						<h4>CUI						: {{getCui reserva}}</h4>
						<h4>SAP						: {{getSap reserva}}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-right">
			
		</div>
	</div>
</div>