/*
Zerotheme.com | Free Html5 Responsive Templates
Zerogrid - A Single Grid System for Responsive Design
Author: Kimmy
Version : 3.0
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Grid System--------------- */ 
.zerogrid{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.zerogrid_1{
	position: relative;
	background-color: #01396a;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width: 100%;
}
.zerogrid_b{
	position: relative;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}
.zerogrid:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.zerogrid .f-right{float: right!important;}
.zerogrid .f-left{float: left!important;}

.zerogrid .row{}
.zerogrid .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.zerogrid .row:after{clear: both; }
.zerogrid .row{
	zoom: 1;
}

.zerogrid .wrap-col{
	text-align: center;
}

.zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{float:left; display: inline-block;}

.zerogrid .col-full{width:100%;}

.zerogrid .col-1-2,.zerogrid .col-1-2-fixed{
	width:50%;
}
.zerogrid .offset-1-2{margin-left: 50%;}

.zerogrid .col-1-3,.zerogrid .col-1-3-fixed{
	width:25%;
}
.zerogrid .col-2-3,.zerogrid .col-2-3-fixed{
	width:100%;
}
.zerogrid .offset-1-3{margin-left: 33.33%;}
.zerogrid .offset-2-3{margin-left: 66.66%;}

.zerogrid .col-1-4,.zerogrid .col-1-4-fixed{width:25%;}
.zerogrid .col-2-4,.zerogrid .col-2-4-fixed{width:50%;}
.zerogrid .col-3-4,.zerogrid .col-3-4-fixed{width:75%;}
.zerogrid .offset-1-4{margin-left: 25%;}
.zerogrid .offset-2-4{margin-left: 50%;}
.zerogrid .offset-3-4{margin-left: 75%;}

.zerogrid .col-1-5,.zerogrid .col-1-5-fixed{width:20%;}
.zerogrid .col-2-5,.zerogrid .col-2-5-fixed{width:40%;}
.zerogrid .col-3-5,.zerogrid .col-3-5-fixed{width:60%;}
.zerogrid .col-4-5,.zerogrid .col-4-5-fixed{width:80%;}
.zerogrid .offset-1-5{margin-left: 20%;}
.zerogrid .offset-2-5{margin-left: 40%;}
.zerogrid .offset-3-5{margin-left: 60%;}
.zerogrid .offset-4-5{margin-left: 80%;}

.zerogrid .col-1-6,.zerogrid .col-1-6-fixed{width:16.66%;}
.zerogrid .col-2-6,.zerogrid .col-2-6-fixed{width:33.33%;}
.zerogrid .col-3-6,.zerogrid .col-3-6-fixed{width:50%;}
.zerogrid .col-4-6,.zerogrid .col-4-6-fixed{width:66.66%;}
.zerogrid .col-5-6,.zerogrid .col-5-6-fixed{width:83.33%;}
.zerogrid .offset-1-6{margin-left: 16.66%;}
.zerogrid .offset-2-6{margin-left: 33.33%;}
.zerogrid .offset-3-6{margin-left: 50%;}
.zerogrid .offset-4-6{margin-left: 66.66%;}
.zerogrid .offset-5-6{margin-left: 83.33%;}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.zerogrid_1{

}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.zerogrid{width:768px;}
}

@media only screen and (max-width: 767px) {
	.zerogrid, .zerogrid .col-1-2, .zerogrid .col-1-3, .zerogrid .col-2-3, .zerogrid .col-1-4, .zerogrid .col-2-4, .zerogrid .col-3-4, .zerogrid .col-1-5, .zerogrid .col-2-5, .zerogrid .col-3-5, .zerogrid .col-4-5, .zerogrid .col-1-6, .zerogrid .col-2-6, .zerogrid .col-3-6, .zerogrid .col-4-6, .zerogrid .col-5-6{width:100%;}
	
	.zerogrid .offset-1-2, .zerogrid .offset-1-3, .zerogrid .offset-2-3, .zerogrid .offset-1-4, .zerogrid .offset-2-4, .zerogrid .offset-3-4, .zerogrid .offset-1-5, .zerogrid .offset-2-5, .zerogrid .offset-3-5, .zerogrid .offset-4-5, .zerogrid .offset-1-6, .zerogrid .offset-2-6, .zerogrid .offset-3-6, .zerogrid .offset-4-6, .zerogrid .offset-5-6{margin-left:0;}
}
.row .llama {
	float: left;
}
#slider li .caption span a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
#slider li .caption span a:hover {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.wrap-body #container .wrap-container.clearfix #main-content .wrap-box .zerogrid .row .col-1-3 .wrap-col .item.t-center .item-info a h3 {
}
.wrap-body #container .wrap-container.clearfix #main-content .wrap-box .zerogrid .row .col-1-3 .wrap-col .item.t-center .item-info a h3:hover {
	color: #f1563a;
}
.zerogrid_1 .headr h2 a {
	color: #FC0;
	text-decoration: none;
}
.zerogrid_1 .header h2 a:hover {
	color: #FFF;
	text-decoration: none;
}
.wrap-body footer .zerogrid .wrap-footer .row span a {
	color: #FFF;
	text-decoration: none;
}
.wrap-body footer .zerogrid .wrap-footer .row span a:hover {
	color: #FC0;
	text-decoration: none;
}
#contact_form .col-1-2 .wrap-col images {
	margin-top: 21%;
	margin-bottom: 21%;
}
.slider .titInt {
	float: left;
	width: 100%;
	height: 50px;
}
.item-info h3 {
	font-family: 'robotolight';
	color: #002464;
	font-weight: 300;
	font-size:18px;
}
