@(forgotPasswordUserNameMaster: play.api.data.Form[models.ForgotPasswordUserNameMaster], flash : Flash)(implicit lang:Lang)
@import helper._
@frontend.layout()
@import services._
<style type="text/css">
@@media screen and (max-width: 1024px){
		.main{
		margin: 0px 0 0 200px;
		}
}
 #flot-placeholder{width:650px;height:auto;}       
</style>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.pureexample.com/js/flot/excanvas.min.js"></script><![endif]-->

</head>
<body>
<div class="top_part " style="background-position: left -216px;">
            <div class="top_part_right">
            </div>
             <div class="popup-div display-none">
             </div>
</div>
<div class="main">
	<section class="slider" id="pDetail_page">
   		<div class="product_main" style="   float: left; height: auto; overflow: hidden;">
		  <div class="product_detail_1 ">
			 <div id="new_program_header">  	
				<p>@Messages("forgotPassword.forgotPassword")
				</p>
			</div>
		  </div>
		 <div style=" padding-top: 44px; padding-left: 10px;padding-bottom:8px; ">@Messages("forgotPassword.text")</div>
		         <div>
		               @form(action = controllers.Frontend.routes.User.submitUserName, 'id->"resetPassword-form") {
		           	       @inputText(forgotPasswordUserNameMaster("user_name"),'type->"text",'name->"user_name",'class->"span12 inputTextBoxresetPassword",'_label->Messages("forgotPassword.emailaddress"),'placeholder->Messages("forgotPassword.enteremailaddress"))
		           	       	@if(flash.get("test_error")){
		           	       		<a href="@controllers.Frontend.routes.User.resendActivation(forgotPasswordUserNameMaster.data.get("user_name").get)" Style="color: #6c96a3;cursor: pointer;font-weight:bold;font-size: 13px;">@Messages("error.user.email.clickhere")</a> @Messages("error.user.email.resendLink")
		           	       	}
					        <div class="width_full" style="margin-top:21px;">
				       		<span class="left" style=""><input class="btn form-button" value="@Messages("button.continue") " type="submit"/></span>
				       		<span  class="left" style="margin-left:26px;"><input id="cancel-forgot_password" class="btn form-button" value="@Messages("button.cancel") " type="button"/></span>
				       		</div>
		               	}
		            </div>
		        </div>
		</section>
</div>
@frontend.headerScripts()	
<script type="text/javascript" src="@routes.Assets.at("frontend/js/main.js")"></script>
   <script type="text/javascript">
   $(document).ready(function() {
	   $('#cancel-forgot_password').on('click',function() {
			window.location.href='/user-login';
		   });
	});
	</script>
  </body>
</html>