@(message: String)(implicit lang:Lang)
@import helper._
	<!-- 
	Header panel 
	 -->
	@header()
	
  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                </ul>
                <a class="brand" href="index.html"><span class="first">Your</span> <span class="second">Company</span></a>
        </div>
    </div>
 
        <div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Sign In</p>
            <div class="block-body">
            @form(action = routes.Application.loginForm, 'id->"loginForm", 'name->"loginForm") {
                    <label> @Messages("login.username")</label>
                    <input type="text" class="span12" name="uname" id="uname" />
                    <label> @Messages("login.password")</label>
                    <input type="password" class="span12" name="pass"  id="pass" />
                    <button class="btn right">Log In</button>
                     <label class="remember-me"><input type="checkbox" name="remember" id="remember" value="1"/> Remember me</label>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
        <p><a href="">Forgot your password?</a></p>
    </div>
</div>
  </body>
</html>