@(programs: Seq[PortfolioMaster],programCount:Long)(implicit session: play.api.mvc.Session,lang:Lang, req : play.api.mvc.RequestHeader)
@import services._
@import play.api.i18n._
@import java.text.SimpleDateFormat
@import play.api._; var prograType: Option[ProgramTypeMaster]=null; var programDates :  Option[ProgramDates] = null;var programStatus: Option[ProgramStatus] = null; var formatDate = new SimpleDateFormat("dd-MM-yyyy");

<input type="hidden" value="@programCount" id="program-count"/>
<h3 class="title">
	<span style="margin-left:12px; width:25%; float:left;">Portfolio</span>
	<span style=" width:35%; float:left;">Descripción</span>
	<span style=" width:25%; float:left;">Estado</span>
	<span style=" width:5%; float:left;">@Messages("program.action")</span>
</h3>
<div class="project_list_1  padding-none">
	<div class="design_team_left_detail_1_left width_full" id="program_container">
	<ul class="width_full " id="p-list">
		@for( (p, index) <- programs.zipWithIndex){
			<li class="width_full program-row">  
				<div class="@if( index%2==0 ){ program_list_1 }else{ program_list_2 } program_list ">
		 			<a href="/portfolio-details/@p.id">
		 				<span style="width: 25%" class="left width138px">@p.name.toString</span>
						<span style="width: 35%" class="left width270px">@p.description.toString</span>
						<span style="width: 25%" class="left width312px">@p.state.toString</span>
						<span style="width: 5%" class="left width312px"></span>
		 			</a>
		    		@*<a href="/edit-portfolio/@p.id"><span class="edit-icon" ></span></a>*@
					@if(utils.UserAccess.checkAccess(req,"delete_program")){
						<span class="delete_icon delete-program" style="margin-left: 0px;" id="m_@p.id"></span>
					}
		   		</div>
					
			</li>	
		}
		</ul>  
	
	</div>
</div>
 
 <ul id="portfolio_pagination_div">
 </ul>
<script type="text/javascript">
$(document).ready(function() {
	@if(utils.UserAccess.checkAccess(req,"delete_program")){
		$(".delete-program").on("click", renderProgramSoftdelete);
	}
});
</script>
 		    	
 		
     		
     	
