@(alert:Option[RiskAlerts], risk:Option[RiskManagementMaster])(implicit session: play.api.mvc.Session,lang:Lang,req : play.api.mvc.RequestHeader)
@frontend.layout()
@import services._
@import utils._
@import play.api.i18n._
@import play.api._
@import org.apache.commons.lang3.StringUtils

</head>
<body>
@frontend.topLayout()

<div class="main">

    @frontend.header()
    <section class="slider" id="pDetail_page">

        <div class="product_main" style="   float: left; height: auto; overflow: hidden;">
            <div class="product_detail_1 ">
                <h3 id="productNm" class="parent-new-h3">
                    <span class="parent-icon"> &#60; </span>
                    <a href='/risk-details/@risk.get.id' style='font-weight: bold'><span class='left'>Volver</span></a>
                    <span class="left"></span>
                    </a>

                    <span  class=""></span>
                </h3>


                <h3 id="productNm">
                    <span class="left">@alert.get.event_title</span>
                </h3>

            </div>

            <div class="width_full push_top10px" id="project_task_details">
                <table>
                    <tbody>
                    <tr>
                        <td class="table_header"><strong>Severidad</strong></td>
                        <td class="p_values width380px">
                            @{
                            alert.get.criticality.get.toInt match{
                                case 1 => "Alto"
                                case 2 => "Medio"
                                case 3 => "Bajo"
                            }
                            }
                        </td>
                        <td class="table_header"><strong>Tipo de Evento</strong></td>
                        <td class="p_values">
                            @{
                            alert.get.event_code.get.toInt match{
                            case 1 => "Riesgo"
                            case 2 => "Incidente"
                            }
                            }
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header"><strong>Tarea</strong></td>
                        <td class="p_values width380px">
                            @TaskService.findActiveTaskDetailsByTaskId(alert.get.task_id.get.toInt).get.task_title
                        </td>
                        <td class="table_header"><strong>Estado</strong></td>
                        <td class="p_values">
                            @RiskService.findDescriptionStatusAlert(alert.get.status_id.get.toString).get.toString
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header"><strong>Categoría</strong></td>
                        <td class="p_values width380px">
                            @RiskService.findDescriptionCategoryAlert(alert.get.category_id.get.toString).get.toString
                        </td>
                        <td class="table_header"><strong>Variable impactada</strong></td>
                        <td class="p_values">
                            @alert.get.impacted_variable.get.toString
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header"><strong>Descripción</strong></td>
                        <td class="p_values width380px">
                            @alert.get.event_title
                        </td>
                        <td class="table_header"><strong>Respuesta</strong></td>
                        <td class="p_values">
                            @alert.get.responsible_answer
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header"><strong>Fecha Inicio</strong></td>
                        <td class="p_values width380px">
                            @alert.get.event_date
                        </td>
                        <td class="table_header"><strong>Responsables</strong></td>
                        <td class="p_values">
                            @for(s <- alert.get.person_invloved.get.split(",")) {
                            <div class="width_full">
                                @UserService.findUserDetails(s.toInt).get.first_name @UserService.findUserDetails(s.toInt).get.last_name
                            </div>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header"><strong>Fecha Cierre</strong></td>
                        <td class="p_values width380px">
                            @alert.get.change_state.get.format("yyyy-MM-dd")
                        </td>
                        <td class="table_header"><strong>Intentos</strong></td>
                        <td class="p_values">
                            @alert.get.reiteration
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>


        </div>
        @frontend.footer()
    </section>
    <div id="dialog-confirm"></div>
    <div id="pop-box-over" class="display-none">
    </div>
</div>
@frontend.headerScripts()
<script type="text/javascript" src="@routes.Assets.at("frontend/js/main.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("frontend/jquery-ui-1.12.1/jquery-ui.css")">
<link rel="stylesheet" href="@routes.Assets.at("frontend/jqgrid/css/ui.jqgrid.css")">
</body>
</html>