@(alerts:Seq[RiskAlerts], risk:Option[RiskManagementMaster],parent_id:String)(implicit session: play.api.mvc.Session,lang:Lang,req : play.api.mvc.RequestHeader)
@frontend.layout()
@import services._
@import utils._
@import play.api.i18n._
@import play.api._
@import org.apache.commons.lang3.StringUtils

</head>
<body>
@frontend.topLayout()

<div class="main">

@frontend.header()
<section class="slider" id="pDetail_page">


		<div class="product_main" style="   float: left; height: auto; overflow: hidden;">
		  <div class="product_detail_1 ">
			  <h3 id="productNm" class="parent-new-h3">
			    	<span class="parent-icon"> &#60; </span>
				  <a href="">
				  	<span class="left"></span>
			  	  </a>
			  	   <span class="parent-icon">></span>
			  	   <a href="">
			  	   		<span class="left"></span>
			  	   </a>
			 		<a href="" style="float:right"><span id="" class="edit-project edit-icon edit-text edit_tasks_details " style="float:right;margin-right:27px">@Messages("employee.edit")</span></a>

			  	  <span  class=""></span>
			  </h3>
			 
			  
			  <h3 id="productNm">
				   <span class="left">@risk.get.name</span>
			  </h3>
			  
		  </div>

			<div class="width_full push_top10px" id="project_task_details">
		    	<table>
				  	<tbody>
				  		<tr>
				  			<td class="table_header"><strong>Nombre</strong></td>
				  			<td class="p_values width380px">@risk.get.name</td>
				  			<td class="table_header"><strong>Causa</strong></td>
				  			<td class="p_values">@risk.get.cause</td>
				  		</tr>	
		  
				  		<tr>
				  			<td class="table_header"><strong>Evento</strong></td>
				  			<td class="p_values width380px">@risk.get.event</td>
				  			<td class="table_header"><strong>Impacto</strong></td>
				  			<td class="p_values">@risk.get.imapct</td>
				  		</tr>	
				  		
				  		<tr>
				  			<td class="table_header"><strong>Categoria/Subcategoria</strong></td>
				  			<td class="p_values width380px">
								@{
									if(!RiskCategoryService.findRiskCategoryById(risk.get.risk_category.toString()).isEmpty){
										RiskCategoryService.findRiskCategoryById(risk.get.risk_category.toString()).get.category_name
									}
								}
							<span style="margin-left: 10px;margin-right: 10px;"> / </span>
								@{
									if(risk.get.sub_category.isWhole()){
										if(!RiskCategoryService.findRiskSubCategoryById(risk.get.sub_category.toString()).isEmpty){
											RiskCategoryService.findRiskSubCategoryById(risk.get.sub_category.toString()).get.name		
										}else{
											"NA"	
										}
									
									}else{
									"NA"
									}
								}
				  			</td>
				  			<td class="table_header"><strong>Variables Impactadas</strong></td>
				  			<td class="p_values">
				  				@{
								risk.get.variable_imapact.toInt match{
									case 0=>"Plazo"
									case 1=>"Presupuesto"
									case 2=>"Alcance"
									case 3=>"Calidad"
									case 4=>"Plazo/Presupuesto"
									case 5=>"Plazo/Alcance"
							        case 6=>"Plazo/Alcance/Presupuesto"
									case 7=>"Plazo/Calidad"
									case 8=>"Presupuesto/Calidad"
								    case 9=>"Alcance/Calidad"
									case 10=>"Plazo/Presupuesto/Alcance/CalidadPlazo/Presupuesto/Calidad"
								}
								}				  			
				  			</td>
				  		</tr>	
				  		
				  		<tr>
				  			<td class="table_header"><strong>Probabilidad de ocurrencia</strong></td>
				  			<td class="p_values width380px">
								@{
									risk.get.probablity_of_occurence match{
										case 0=>"Alto"
										case 1=>"Mediano"
										case 2=>"Bajo"
										
									}
									
								}				  			
				  			</td>
				  			<td class="table_header"><strong>Quantificacion Impacto</strong></td>
				  			<td class="p_values">
							@{
									risk.get.quantification match{
										case 0=>"Alto"
										case 1=>"Mediano"
										case 2=>"Bajo"
									}
									
							}				  			
				  			</td>
				  		</tr>					  		
		  
				  		<tr>
				  			<td class="table_header"><strong>Estrategia de Respuesta</strong></td>
				  			<td class="p_values width380px">
							@{
									risk.get.strategic_reply match{
										case 0=> "Acceptar"
										case 1=> "Mitgar"
										case 2=> "Evitar"
										case 3=> "Transerir"
									}
							}				  			
				  			</td>
				  			<td class="table_header"><strong>Responsable</strong></td>
				  			<td class="p_values">@UserService.findUserDetails(risk.get.responsible).get.first_name.substring(0,1)&nbsp;.@UserService.findUserDetails(risk.get.responsible).get.last_name</td>
				  		</tr>
				  		
				  		<tr>
				  			<td class="table_header"><strong>Plan de Respuesta</strong></td>
				  			<td class="p_values width380px">
							@if(!risk.get.reply_action.isEmpty){
										@risk.get.reply_action.get
									}else{
										&nbsp;
							}				  			
				  			</td>
				  			<td class="table_header"><strong>Plan de Contingencia</strong></td>
				  			<td class="p_values">
							@if(!risk.get.configuration_plan.isEmpty){
								@risk.get.configuration_plan.get
							}else{
								&nbsp;
							}				  			
				  			</td>
				  		</tr>		
				  		
				  		<tr>
				  			<td class="table_header"><strong>Documento Contingencia</strong></td>
				  			<td class="p_values width380px">
							@if(!risk.get.document_category.isEmpty && !StringUtils.isEmpty(risk.get.document_category.get.trim())){
									<a target="_blank" href='/documents/@risk.get.document_category.get' id="document_category_1" name="document_category_1" style="color: #000000;font-weight: bold;">Download Document</a>
							} else{
								NA
							}				  			
				  			</td>
				  			<td class="table_header"><strong>Fecha de Control</strong></td>
				  			<td class="p_values">@risk.get.risk_clouser_date.format("dd/MM/YYYY")</td>
				  		</tr>				  					  			

				</tbody>
		  		</table>
	    	
	      </div> 

		  	<h3 id="productNm">
				<span class="left">Alertas</span>
			</h3>
			
		 	<div class="program-div" id="new-risk">
		 		<span><a href="/new-alert/@risk.get.id">Agregar Alerta</a></span>
			</div>
	
			<div class="width_full">

				<ul id="risk_list">
				
				@if(alerts.size>0){
					<li class="top-header"  style="width:99%">
						<span class="role header">Nombre</span>
						<span class="member header">Fecha</span>
						<span class="member header">Responsable</span>
						<span class="member header">Criticidad</span>
						<span class="member header">Tipo</span>
						<span class="active header">Accion</span>
					</li>
					@for( (p,index) <- alerts.zipWithIndex){
						<a href="/risk-details/@p.id" class="left">
						<li class="@if(index%2==0){even_row}else{odd_row}">	
							<span class="member">@p.event_title</span>
							<span class="member">@if(!p.event_date.isEmpty){
		 						@p.event_date.get.format("dd-MM-yyyy")
		 					}
							</span>
							<span class="member">@UserService.findUserDetailsById(p.responsible.get.toLong).get.first_name.substring(0,1).&nbsp;@UserService.findUserDetailsById(p.responsible.get.toLong).get.last_name </span>
							<span class="member">
							@{
							 	if(!p.criticality.isEmpty){
							 		p.criticality.get.toInt match{
							 		 case 1=>"Alta"
							 		 case 2=>"Mediana"
							 		 case 3=>"Baja"	
							 		}
							 	}
						 	}							
							</span>
							<span class="member">
							@{
						 		p.alert_type.get match{
						 			case 1=>"RISK-General"
						 			case 2=>"RISK-Serious"		
						 		}
					 		}
							</span>
			
						</li>
						</a>
					}
				  }else{
				  	<li><span>No hay Alertas...</span></li>
				  }
								
				</ul>
			</div>
  </div>
	  @frontend.footer()
</section>
	
</div>	 
@frontend.headerScripts()	
</body>	
</html>