@(id:String)(implicit session: play.api.mvc.Session,lang:Lang, req : play.api.mvc.RequestHeader)
@import services._
@import play.api.i18n._
@import play.api._;var alert=RiskService.findRiskAlertsIncreasedById(id); 
<div id="alert-listing_@id" class="width_full alert-details-listing">
@if(alert != null){
	 <ul>
	 @if(utils.UserAccess.checkAccess(req,"alert_close")){
	 	@if(utils.UserAccess.checkCanShowDeleteRisk(req,alert.get.id.get.toString())){
		 <li>
		 		 <span class="right "><input type="checkbox" id="alert_disable_@alert.get.id.get" name="alert_disable" class="right alert_disable input-hide-label" value="@alert.get.id.get" style="margin-right: 10px;"></span>
		 		 <span class="right hide_label"> Eliminar :</span>
		 </li>
		 }
	 }
	 	<li>
	 	<span class="alert-label">Programa</span>
	 	<span class="alert-text">
	 		@alert.get.program_name
	 	</span>
	 	</li>	
	 	 
	 	<li>
	 	<span class="alert-label">Nivel</span>
	 	<span class="alert-text">
	 		@alert.get.level
	 	</span>
	 	</li>
	 		 
	 	<li>
	 	<span class="alert-label">Nombre</span>
	 	<span class="alert-text">
	 		@alert.get.title
	 	</span>
	 	</li>	 

	 	<li>
		 	<span class="alert-label">@Messages("dashboard.risk")</span>
		 	<span class="alert-text">
		 		@RiskService.findRiskDetails(alert.get.risk_id.toString()).get.name		
			 </span>
	 	</li>
	 	<li>
		 	<span class="alert-label">@Messages("profile.eventcode")</span>
		 	<span class="alert-text">
		 		@{
		 			
			 		alert.get.event_code.get match{
						case 1=>"Riesgo"
						case 2=>"Incidente"
			 		}
		 		}	
			 </span>
	 	</li>
	 	<li>
		 	<span class="alert-label">@Messages("profile.impacted_variable")</span>
		 	<span class="alert-text">
			 	@if(!alert.get.impacted_variable.isEmpty){
			 			@alert.get.impacted_variable.get
			 	}
		 	 </span>
	 	</li>
		 <li>
			 <span class="alert-label">@Messages("profile.pmo")</span>
			 <span class="alert-text">
			 	@if(!alert.get.pmo.isEmpty){
			 			@alert.get.pmo.get
			 	}
		 	 </span>
		 </li>
	 	<li>
		 	<span class="alert-label">@Messages("booktime.date")</span>
		 	<span class="alert-text">
		 	@if(!alert.get.event_date.isEmpty){
		 		@alert.get.event_date.get.format("dd-MM-yyyy")
		 	}
		 	</span>
	 	</li>
	 	<li>
		 	<span class="alert-label">@Messages("profile.criticality")</span>
		 	<span class="alert-text">
		 	@{
			 	if(!alert.get.criticality.isEmpty){
			 		alert.get.criticality.get.toInt match{
			 		 case 1=>"High"
			 		 case 2=>"Medium"
			 		 case 3=>"Low"	
			 		}
			 	}
		 	}
		 	</span>
	 	</li>
	 </ul>
 }
</div>
