.row
 h3(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:center") • BIENVENIDOS •
 .row
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail
     a(href='/dash1')
      img(src='../images/dashboard.jpg', alt='Dashboard', width='200', height='170', border='0', title='DASHBOARD')
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail
     a(href='#')
      img(src='../images/proyectos.jpg', alt='', width='200', height='170', border='0', title='PROYECTOS')   
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail   
     a(href='#')
      img(src='../images/continuidad.jpg',alt='', width='200', height='170', border='0', title='CONTINUIDAD')
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail
     a(href='#')
      img(src='../images/contratos.jpg', alt='', width='200', height='170', border='0', title='CONTRATOS')
.row      
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail   
     a(href='#')
      img(src='../images/prefacturas.jpg', alt='', border='0', title='PRE FACTURAS')
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail   
     a(href='#')
      img(src='../images/facturas.jpg', alt='', border='0', title='FACTURAS')
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail   
     a(href='#')
      img(src='../images/parametros.jpg', alt='', border='0', title='PARAMETROS')
  .col-sm-3.col-lg-3
   .dash-unit
    .thumbnail   
     a(href='#')
      img(src='../images/reportes.jpg', alt='', border='0', title='REPORTES')
