@(username:String, myConfigMailForm :play.api.data.Form[ConfigMailAlert])(implicit lang:Lang)
@import helper._
<!--
Header panel
 -->
@header()

</head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->

<!-- Top Navigation bar -->
@topNav("Admin")

<!-- Left Navigation Bar -->
@leftNav()
<div class="content">
    <div class="header">
        <h1 class="page-title">@Messages("leftnav.divconfmail")</h1>
    </div>
    <ul class="breadcrumb">
        <li><a href="@routes.Application.index">@Messages("confmail.home") </a> <span class="divider">/</span></li>
        <li><a href="@routes.ConfigMail.editConfig">@Messages("confmail.list")</a> <span class="divider">/</span></li>
        <li class="active">@Messages("confmail.edit")</li>
    </ul>

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="block">
                <p class="block-heading">@Messages("confmail.edit")</p>
                <div class="block-body">
                    @form(action = routes.ConfigMail.updateConfig, 'id->"myConfigMailEdit") {
                    @inputText(myConfigMailForm("description"),'_label ->Messages("confmail.desc"),'placeholder->Messages("confmail.placeholder.desc"),'class->"span4",'name -> "description")
                    @inputText(myConfigMailForm("em1"),'_label ->Messages("confmail.em1"),'placeholder->Messages("confmail.placeholder.em1"),'class->"span4",'name -> "em1")
                    @inputText(myConfigMailForm("em2"),'_label ->Messages("confmail.em2"),'placeholder->Messages("confmail.placeholder.em2"),'class->"span4",'name -> "em2")
                    @inputText(myConfigMailForm("em3"),'_label ->Messages("confmail.em3"),'placeholder->Messages("confmail.placeholder.em3"),'class->"span4",'name -> "em3")
                    @textarea(myConfigMailForm("tpl"),'_label -> Messages("confmail.tpl"),'placeholder->Messages("confmail.placeholder.tpl"),'class->"span4",'name->"tpl",'rows->"10",'cols->"60")
                    <input type="hidden" value="@myConfigMailForm.data.get("uid")" name="uid"/>
                    <input type="hidden" value="@myConfigMailForm.data.get("id")" name="id"/>
                    <input type="hidden" value="@(new java.util.Date().format("yyyy-MM-dd"))" name="fec">
                    <input type="hidden" value="1" name="is_active">
                    <div> <input style="margin-left:12px;margin-right:12px;" class="btn" value="@Messages("button.save")" type="submit"/><a href="#" id="preview" class="btn">@Messages("button.preview")</a><a href="@routes.ConfigMail.mailList" class="btn push-left20px pull-left">@Messages("button.cancel")</a></div>
                    <div class="clearfix"></div>
                    }
                </div>
            </div>

            <!-- Footer panel -->
            @footer()
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
$('#preview').click(function(e)
   {
        e.preventDefault();
        console.log($('#tpl').val());
        var w = window.open("", "popupWindow", "width=600, height=400, scrollbars=yes");
        var $w = $(w.document.body);
        $w.html($('#tpl').val());
      });
   });
    </script>
</body>
</html>