#buscar:hover {
	background-color: #036;
	background-image: -webkit-linear-gradient(top, #036, #036);
	background-image: -moz-linear-gradient(top, #036, #036);
	background-image: -ms-linear-gradient(top, #036, #036);
	background-image: -o-linear-gradient(top, #036, #036);
	background-image: linear-gradient(to bottom, #036, #036);
	text-decoration: none;
	cursor: default;
}

.cajaFormulario {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/* border: 1px solid #D4D5D7; */
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
    position: relative;
}
#buscar {
	background: #2261adc5;
	background-image: -webkit-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -moz-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -ms-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: -o-linear-gradient(top, #2261adc5, #2261adc5);
	background-image: linear-gradient(to bottom, #2261adc5, #2261adc5);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	/* padding-top: 4px; */
	/* padding-right: 20px; */
	/* padding-bottom: 4px; */
	padding-left: 20px;
	float: right;
	position: relative;
	margin-right:20px;
	/* margin-bottom: 10px; */
}

.formProvee #provee {
	color: #036;
	padding-right: 25px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: 1px solid #D4D5D7;
	background-color: #ffffff;
	margin-left: 10px;
}