doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    block titulo
        title SIP Banco de Chile - Sistema Integrado de Presupuesto
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')            
    link(rel='stylesheet', href='/stylesheets/ui.jqgrid-bootstrap.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.css', type='text/css', media='screen', charset='utf-8')        
    link(rel='stylesheet', href='stylesheets/test.css', type='text/css', media='screen', charset='utf-8')         
    link(rel='stylesheet', href='stylesheets/zerogrid.css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='stylesheets/tmpl.css', type='text/css', media='screen', charset='utf-8')
    script(type='text/javascript', src='/javascripts/jquery-1.12.3.js')
    script(type='text/javascript', src='/javascripts/grid.locale-es.js')  
    script(type='text/javascript', src='/javascripts/jquery.jqGrid.min.js')
    script(type='text/javascript', src='/javascripts/jquery.mask.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap-datepicker.js') 
    script(type="text/javascript", src="/javascripts/locales/bootstrap-datepicker.es.js", charset="UTF-8")   
    script(type='text/javascript', src='/javascripts/bootstrap3-typeahead.js')     
    script(type='text/javascript', src='/javascripts/script.js') 
    script(type='text/javascript', src='/javascripts/jquery.touchSwipe.min.js')      
    script(type='text/javascript', src='/javascripts/jsplug.js')      
    script(type='text/javascript', src='/javascripts/sip.js')
    script(type='text/javascript', src='/resources/socket.io/socket.io.js')  
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')       
    script(type='text/javascript', src='/javascripts/bootbox.min.js')   
    block jsgrilla       
  body
    .container
      include sidebar.jade
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.container')
          span.bar
          span.bar
          span.bar
        .content
          header.bg-theme
            .wrap-header
              .row
                a(href='/home')
                  img(src='../../images/header.png', width='384', height='95') 
                img(src='../images/vacio.png', width='300', height='4', border='0')
                img(src='../images/header_titulo.png', width='384', height='95', border='0')
          .zerogrid_b
            block titulogrilla              
          .zerogrid_b
          block grilla
            