extends base.pug
block titulo
  title SIP Banco de Chile - Sistema Integrado de Presupuesto - Contratos
block jsgrilla
  script(type='text/javascript', src='/javascripts/views/contrato.js')
  script(type='text/javascript', src='/javascripts/views/detallecontrato.js')
  script(type='text/javascript', src='/javascripts/views/detallecompromiso.js')
block titulogrilla


    //- .header
    //-   ul
    //-     each val in data[1].menus
    //-       li.has-sub
    //-         span=val.menu.menu
    //-       ul
    //-         each vol in val.submenu
    //-           li
    //-             if(vol.url!='conferencia')
    //-               span=vol.opt

block grilla
  .gcontainer
   table#grid
   #pager