html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title Grafico Ejemplo
    script(type='text/javascript', src='/javascripts/jquery-1.12.3.js')
    script(src='/javascripts/highcharts/highcharts.js')
    script(type='text/javascript', src='/javascripts/views/grafico2.js')
  body
    div
      select#sap
        option(value='0') --Escoger SAP--
        option(value='237') Motor de Pagos
        option(value='238') Migración Tarjetas
    div(style='width: 100%')
      #container(style='width: 50%; float: left; display: inline-block;')
      #container2(style='width: 50%; display: inline-block;')