html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    title Grafico Ejemplo
    script(type='text/javascript', src='/javascripts/jquery-1.12.3.js')
    script(src='/javascripts/highcharts/highcharts.js')
    script(type='text/javascript', src='/javascripts/views/grafico2.js')
  body
    #container(style='width:600px; height: 400px')