extends layout3.pug
block append head
    //- -console.log(data[0].nombre)

    script var page = "#{page}"
    -var nombre = data[0].nombre
    -var sistema = data[0].sistema
    p!= script
    -console.log(page)
    if page ==='home3'
      include home_generico.pug
block content
    #contenedor.contenedor
      //- include sidebar.pug
      .main-content
        .content
          header.bg-theme
          p!= html