doctype html
html
  head
    link(rel='stylesheet', href='stylesheets/menu.css', title='menu css', type='text/css', media='screen', charset='utf-8')
    title Menu Lateral Jampudia.com
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.js')
    script(type='text/javascript', src='javascripts/jsplug.js')
  body
    .container
      #sidebar
        ul
          li
            a(href='#') Dashboard
          li
            a(href='#') Iniciativas
          li
            a(href='#') Proyectos
          li
            a(href='#') Continuidad	
          li
            a(href='#') Contratos
          li
            a(href='#') Pre-Facturas
          li
            a(href='#') Facturas	
          li
            a(href='#') Parámetros			
          li
            a(href='signout') Salir
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.container')
          span.bar
          span.bar
          span.bar
        .content
          h1 Creando un menu swipeable para navegadores web y moviles
          p
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
