doctype html

html
  head
    link(rel='stylesheet', href='stylesheets/menu.css', title='menu css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='stylesheets/gatoco.css', title='menu css', type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css',  type='text/css', media='screen', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/ui.jqgrid.css', type='text/css', media='screen', charset='utf-8')      
    title Menu Lateral Jampudia.com
    script(type='text/javascript', src='javascripts/jquery-1.12.3.min.js')
    script(type='text/javascript', src='javascripts/jsplug.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')    
    script(type='text/javascript', src='/javascripts/grid.locale-es.js')  
    script(type='text/javascript', src='/javascripts/jquery.jqGrid.min.js')      
    script(type='text/javascript', src='javascripts/menu.js')
  body
    .container
      #sidebar
        ul
          li
            a(href='#') Dashboard
          li
            a(href='/iniciativas') Iniciativas
          li
            a(href='#') Proyectos
          li
            a(href='#') Continuidad	
          li
            a(href='#') Contratos
          li
            a(href='#') Pre-Facturas
          li
            a(href='#') Facturas	
          li
            a(href='/proveedores') Proveedores			
          li
            a(href='signout') Salir
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.container')
          span.bar
          span.bar
          span.bar
        .content
         .header
          .headMain
           .user
            .usuario1 Juan Pablo Subercaseaux
            .usuario2 Ültimo Acceso 21/06/2015 - 10:32
            .usuario3
            a(href='#') Cerrar Sesión
            .tituloWeb SISTEMA DE PRESUPUESTO DIVOT
          .headUnderline
         .central
          .cuerpoCentral
           .crums
           .txt_bienvenida
           .contenedorCentro
            #jqWrapper      
             table#jqTable
              #jqPager              