doctype transitional
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
title Login SIP
link(rel='stylesheet', href='sourcemaps/bootstrap.min.css.map')
link(rel='stylesheet', href='sourcemaps/main.min.css.map')
link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='stylesheets/custom.css')
link(rel='stylesheet', href='vendor/pace/pace.min.css')
link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='vendor/open-iconic/css/open-iconic-bootstrap.min.css')
link(rel='stylesheet', href='vendor/fontawesome/css/fontawesome.all.css')
link(rel='stylesheet', href='vendor/flatpickr/flatpickr.min.css')
link(rel='stylesheet', href='stylesheets/main.min.css')
link(rel='stylesheet', href='stylesheets/stylesheet.css') 
html
main.auth
  header#auth-header.auth-header(style='background-image: url(../images/img-fondo-login.jpg);')
    h1
      img(src='../images/header_chico.png', width='290', height='110')
  form(name='login',action='/login', method='POST').auth-form
    .form-group
      .form-label-group
        input#inputUser.form-control(type='text' name='username' placeholder='Usuario' required='' autofocus='')
        label(for='inputUser') Usuario
    .form-group
      .form-label-group
        input#inputPassword.form-control(type='password' name='password' placeholder='Clave' required='')
        
        label(for='inputPassword') Clave
    .form-group
      .form-label-group
        select#sistema.custom-select(name='sistema' required='')
          option(value='1') Presupuesto
          option(value='2') Contratos
          option(value='4') Licencias de Software
          option(value='5') Maqueta Limites
    .form-group
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Ingresar
    .form-group.text-center
     .text-center.pt-3
        a.link(href='http://152.139.49.217:8080/forgot-password') ¿Olvidó su contraseña?
  footer.auth-footer
    | © 2018 Todos los derechos reservados.