extends base.pug
block titulo
  title SIP Banco de Chile - Sistema Integrado de Presupuesto - Iniciativas
  link(rel='stylesheet', href='/stylesheets/formulario_prefactura.css', type='text/css', media='screen', charset='utf-8') 
block jsgrilla
  script(type='text/javascript', src='/javascripts/views/iniciativa.js')
  script(type='text/javascript', src='/javascripts/views/iniciativaprograma.js')
  script(type='text/javascript', src='/javascripts/views/iniciativafecha.js')
  script(type='text/javascript', src='/javascripts/views/presupuestoiniciativa.js')
  script(type='text/javascript', src='/javascripts/views/tareasnuevosproyectos.js')
  script(type='text/javascript', src='/javascripts/views/flujonuevatarea.js')  
block titulogrilla
  .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
    h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") INICIATIVAS
block grilla
  .cajaFormulario
    .formSap
      | Iniciativa:
      input#nombreini(type='text', name='nombreini' style='line-height: 20px; width: 150px; margin-right: 10px')
      span.titCajaPeriodo ART:
      input#numart(type='text', name='numart' style='line-height: 20px; width: 150px; margin-right: 10px')
      #buscar.btn Buscar 
      select#pmo(class='custom-select' style="width:auto; margin-right: 10px")
      select#estado(class='custom-select' style="width:auto; margin-right: 10px")   
  div(style='width: 100%')
    #container(style='width: 100%; float: left; display: inline-block;')  
      table#grid
      #pager