doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title LIC Banco de Chile - Sistema de Licencias							Usuario:
    block head
     link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/ui.jqgrid-bootstrap.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/javascripts/views/sic/datetimepicker.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/test.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/tmpl.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/stylesheet.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen', charset='utf-8')
     link(rel='stylesheet', href='/stylesheets/menu.css', type='text/css', media='screen', charset='utf-8')
     //link(rel='stylesheet', href='/javascripts/highcharts/css/highcharts.css', type='text/css', media='screen', charset='utf-8')
     script(type='text/javascript', src='/javascripts/jquery-1.12.3.js')
     script(type='text/javascript', src='/javascripts/highcharts/highcharts.js')
     script(type='text/javascript', src='/javascripts/highcharts/highcharts-more.js')     
     script(type='text/javascript', src='/javascripts/moment.js')
     script(type='text/javascript', src='/javascripts/grid.locale-es.js')
     script(type='text/javascript', src='/javascripts/jquery.jqGrid.js')
     script(type='text/javascript', src='/javascripts/jquery.mask.min.js')
     script(type='text/javascript', src='/javascripts/bootstrap-datepicker.js')
     script(type="text/javascript", src="/javascripts/locales/bootstrap-datepicker.es.js", charset="UTF-8")
     script(type='text/javascript', src='/javascripts/bootstrap-datetimepicker.js')
     script(type='text/javascript', src='/javascripts/bootstrap3-typeahead.js')
     script(type='text/javascript', src='/javascripts/script.js')
     script(type='text/javascript', src='/javascripts/jquery.touchSwipe.min.js')
     script(type='text/javascript', src='/javascripts/jsplug.js')
     script(type='text/javascript', src='/javascripts/sip.js')
     script(type='text/javascript', src='/javascripts/sic.js')         
     script(type='text/javascript', src='/javascripts/bootstrap.min.js')
     script(type='text/javascript', src='/javascripts/bootbox.min.js')
     script(type='text/javascript', src='/javascripts/tinymce/tinymce.min.js')
     script(type='text/javascript', src='/javascripts/tinymce/jquery.tinymce.min.js')
     script(type='text/javascript', src='/javascripts/ajaxfileupload.js')
  body
     block content
