doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.12.3.min.js')    
    script(type='text/javascript', src='/javascripts/jsplug.js')
  body
    block content