.row
  h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") #{title}  
.row
 .gcontainer
 table#gridMaster
 #pagerMaster
 #docModal.modal.fade
 .modal-dialog