.row
 .col-xs-4
  .dash-unit
   #zon1
 .col-xs-4
  .dash-unit
   #zon2
 .col-xs-4
  .dash-unit
   #zon3
.row
 .col-xs-4
  .dash-unit
   #zon4
 .col-xs-4
  .dash-unit
   #zon5
 .col-xs-4
  .dash-unit
   #zon6