.graficos
 .row
  .col-xs-4
   .dash-unit
    #zon1
  .col-xs-4
   .dash-unit
    #zon2
  .col-xs-4
   .dash-unit
    #zon3
 .row
  .col-xs-4
   .dash-unit
    #zon4
  .col-xs-4
   .dash-unit
    #zon5
  .col-xs-4
   .dash-unit
    #zon6
.graficos
 .row
  .col-xs-4
   .dash-unit
    #zon7
  .col-xs-4
   .dash-unit
    #zon8
  .col-xs-4
   .dash-unit
    #zon9
 .row
  .col-xs-4
   .dash-unit
    #zon10
  .col-xs-4
   .dash-unit
    #zon11
  .col-xs-4
   .dash-unit
    #zon12   
nav.text-center
  ul.pagination
    li.pag_prev
      a(href='#', aria-label='Previous')
        span(aria-hidden='true') &laquo;
    li.pag_next
      a(href='#', aria-label='Next')
        span(aria-hidden='true') &raquo;    