.row
 .col-xs-4
  .form-group
   select.input-large.form-control
    option(value='') Seleccione un valor
    option(value='GA', selected='selected') Gasto
    option(value='IN') Inversión
.row
 .col-xs-4
  .dash-unit
   #pie
 .col-xs-4
  .dash-unit
   #linea
 .col-xs-4
  .dash-unit
   #reloj
.row
 .col-xs-4
  .dash-unit
   #torta
 .col-xs-4
  .dash-unit
   #raya
 .col-xs-4
  .dash-unit
   #dona