extends base.pug
block titulo
  title SIP Banco de Chile - Sistema Integrado de Presupuesto - Prefacturas 
  link(rel='stylesheet', href='/stylesheets/formulario_prefactura.css', type='text/css', media='screen', charset='utf-8')    
block jsgrilla
    script(type='text/javascript', src='/javascripts/views/prefacturasolicitud.js')
block titulogrilla
  //- .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
  //-   h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") Solicitud de Aprobación
block grilla
  .cajaFormulario

    .div(class='col-md-2')
      .div(class="form-group")
        span.titCajaPeriodo(style="line-height: 35px;")  Periodo:
        input#periodo(type='text', name='periodo',  disabled, class='form-control' style='transform: translateY(20%); line-height: 20px; height:35px; width: 150px; margin-right: 10px') 
    .div(class='col-md-2')
      .div(class="form-group")
        span.titCajaPeriodo(style="line-height: 35px;") CUI :  
        select#cui(class='custom-select' style="transform: translateY(20%); margin-right: 15px; width:200px;") 
    .div(class='col-md-1')
      .div(class="form-group") 
        span.titCajaPeriodo(style="line-height: 35px;")  Proveedor:  
        select#proveedor(class='custom-select' style="transform: translateY(20%); margin-right: 10px ; width:100px;") )
    .div(class="form-group")
      #buscar.btn(class='btn btn-primary' style="margin: 0 right; background-color:#346cb0") Mostrar Todos        
  br        
  div(style='width: 100%')
    #container2(style='width: 100%; display: inline-block;')
      table#grid
      #pager         
       
       
