extends base.pug
block titulo
  title SIP Banco de Chile - Sistema Integrado de Presupuesto - Contratos
  link(rel='stylesheet', href='/stylesheets/formulario_consulta.css', type='text/css', media='screen', charset='utf-8')    
block jsgrilla
    script(src='/javascripts/highcharts/highcharts.js')
    script(type='text/javascript', src='/javascripts/views/resetpwd.js')
block titulogrilla
  .header(style='height:50px; background-image:url(../images/dash_ch.jpg); background-repeat:no-repeat; background-position: left center; margin-top:5px; margin-bottom:5px')
    h2(style="font-family:'Roboto', sans-serif; color: #002464; font-weight:300; text-align:left; font-size:18px; text-indent:65px; line-height:50px") Cambio de Password
block grilla
  .cajaFormulario
    .formFactura
      form#miform(action='http://152.139.49.217:8080/forgot-password')    
        | Ingrese Usuario:
        input#user_name(type='text', name='user_name', style='line-height: 20px; width: 180px; margin-right: 10px; margin-left: 10px')
    #buscar.btn Continuar 
  div(style='width: 100%')
    #container(style='width: 50%; float: left; display: inline-block;')
      table#grid
      #pager       