extends base.jade
block titulo
  title SIP Banco de Chile - Sistema Integrado de Presupuesto - Contratos
block jsgrilla
  script(type='text/javascript', src='/resources/socket.io.js')
   #mainDiv
     table(border='1', width='100%')
       tr
         th
           | Video Local
         th
           | Video Remoto
       tr
         td
           video#localVideo(autoplay='')
         td
           video#remoteVideo(autoplay='')
       tr
         td(align='center')
           textarea#dataChannelSend(rows='4', cols='60', disabled='', placeholder='Esto podria ser activado una vez que el canal de datos este abierto...')
         td(align='center')
           textarea#dataChannelReceive(rows='4', cols='60', disabled='')
       tr
         td(align='center')
           button#sendButton(disabled='') Enviar
         td
   script(type='text/javascript', src='/javascripts/adapter.js')
   script(type='text/javascript', src='/javascripts/main2.js')
