.row
  .cajaFormulario
    .formSap
      | Fabricante :  
      select#fabricante(class='custom-select' style="width:auto; margin-right: 10px")
        option(value='0', selected='selected') - Escoger Fabricante -
  div(style='width: 100%') 
    #container(style='width: 50%; float: left; display: inline-block;')
    #container2(style='width: 50%; display: inline-block;')    
  div(style='width: 100%')
    #container(style='width: 50%; float: left; display: inline-block;')
      table#grid
      #pager  
    #container2(style='width: 50%; float: center; display: inline-block;')
      table#grid2
      #pager2         
