.row
  .cajaFormulario
  div(style='width: 100%') 
    #container(style='width: 100%; float: left; display: inline-block;')  
  div(style='width: 100%')
    #container(style='width: 100%; float: left; display: inline-block;')
      table#grid
      #pager       
