extends layout.pug
block append head
    //- -console.log(data[0].nombre)

    script var page = "#{page}"
    -var nombre = data[0].nombre
    -var sistema = data[0].sistema
    p!= script
    if page ==='lic/home'
      include home_licencias.pug
block content
  #contenedor.contenedor
    //- include sidebar.pug
    .content
      p!= html
