extends layout.pug
block append head
    script var page = "#{page}"
    p!= script
block content
    #contenedor.contenedor
      include sidebar.pug
      .main-content
        .swipe-area
        a#sidebar-toggle(href='#', data-toggle='.contenedor')
          span.bar
          span.bar
          span.bar
        .content
          header.bg-theme
            .wrap-header
              .row
                a(href='lic/home')
                  img(src='/images/header.png',width='300', height='80')
              h2(style="font-family:'robotolight', sans-serif; color: #FFFFFF; font-weight:300; text-align:center") SISTEMA DE LICENCIAS
          p(style='color: #f1563a')
          p!= html
