.row
 h2(style="font-family:'robotolight', sans-serif; color: #002464; font-weight:300; text-align:center") • BIENVENIDOS •
.row
 .col-md-offset-4.col-md-4.text-center
  .dash-unit
   a(href='#')
    img(src='../../images/proyectos.jpg', alt='', width='200', height='170', border='0', title='PROYECTOS')
 